.mobile-top-menu,
.mobile-top-logo,
.mobile-catalog-menu,
.mobile-catalog-menu-links,
.slide-link-mobile{display:none;}
@media screen and (max-width:968px){.wrapper-inner{width:100%;margin:0 auto;}
.question-seo-blocks,
.ask-news-blocks,
.video-blocks,
.cbh-phone,
.slider .calculator,
.fixed-menu,
.head{display:none !important;}
.mobile-top-logo{background:#FFF;width:100%;text-align:center;height:70px;display:block;padding:5px 0;}
.mobile-top-logo img{max-height:70px;margin-top:8px;}
.mobile-top-menu{display:block;width:100%;height:70px;background:#459fc4;color:#FFF;}
.mobile-top-menu .call-me{display:block;height:25px;width:55px;color:#FFF;float:right;background:#6ab2d0 url('../img/ico-phone.png') no-repeat 13px 6px;padding:45px 5px 0 5px;text-align:center;font-size:10px;}
.mobile-top-menu .header-contacts{float:left;height:70px;width:auto;}
.mobile-top-menu a{color:#FFF;}
.mobile-top-menu .header-phone-number span{color:#FFF;font-size:16px;}
.mobile-top-menu .header-phone-number{color:#FFF;margin-right:10px;}
.mobile-top-menu .header-phone{padding:14px 0 5px 10px;}
.mobile-catalog-menu{display:block;width:100%;height:50px;background:#459fc4;color:#FFF;float:left;border-top:1px solid #FFF;}
.mobile-catalog-menu.mobile-fixed{position:fixed;top:0;left:0;z-index:99;}
.mobile-catalog-menu-button{display:block;float:left;height:50px;width:150px;background:#77a7c7 url('../img/im-button.png') no-repeat 0 0;}
.mobile-catalog-menu .header-cart{float:right;}
.mobile-catalog-menu .header-cart .show-cart{display:block;height:50px;width:65px;color:#5189a0;float:right;background:#6ab2d0 url(../img/cart-white.png) no-repeat 15px 10px;padding:0px;text-align:center;}
.mobile-catalog-menu-links{display:none;width:100%;float:left;}
.mobile-catalog-menu-links.mobile-fixed{position:fixed;top:51px;z-index:99;left:0;}
.mobile-catalog-menu-links-title{background:#a1aeb5;height:30px;line-height:33px;padding-left:10px;font-size:18px;color:#FFF;font-family:'Partner Condensed', Arial;}
.mobile-catalog-menu-links-title-submenu{height:30px;line-height:33px;padding-left:20px;font-size:18px;color:#FFF;font-family:'Partner Condensed', Arial;background:#e0e9ed url(../img/mobile-menu-arrow-right.png) no-repeat 95% 11px;}
.mobile-catalog-menu-links-links{padding-left:40px;height:30px;line-height:33px;background:#FFF;}
.mobile-catalog-menu-links-links a{color:#459fc4;font-size:12px;}
.ei-title,
.slider,
.ei-slider{width:100%;height:280px;}
.ei-title{padding:15px;width:50%;}
.ei-title .slide-title{font-size:21px;margin-bottom:10px;}
.ei-title .slide-model{font-size:14px;}
.ei-title .slide-text{margin:10px 0;line-height:18px;font-size:14px;height:128px;overflow:hidden;}
.ei-title .slide-link{display:none;}
.ei-title .slide-link-mobile{display:block;}
.ei-title .slide-link-mobile a{width:100%;color:#FFF;background:#699ec1;display:block;text-align:center;padding:5px 0;text-decoration:none;}
.catalogue-blocks{margin:20px 10px;width:auto;}
.catalogue-block{width:100%;margin-right:0;padding-left:0;padding-right:0;height:auto;padding-bottom:35px;}
.catalogue-block.bg{background:url('../img/catalogue-block-bg.png') repeat-x 0 0;}
.products-blocks{margin:40px 10px;width:auto;}
.products-lists .view-content .views-row{width:100%;margin-right:0;}
.top-products-info{display:none;}
.faq-content{margin:0px 10px;}
body.page-contacts .inner-blocks{margin:0 10px;}
.page-contacts-inner{margin:20px 0;}
.page-contacts-inner .contacts,
.page-contacts-inner .map,
.page-contacts-inner .contacts-form{width:100%;margin:0px;float:left;margin-bottom:15px;}
.global-region-left,
.node-tabs{display:none;}
.global-region-right{width:100%;}
.view-lists{margin:0 10px;}
.view-lists .views-row{width:100%;margin:0 0 10px 0;}
body.node-type-useful-article .node h1.node-title{font-size:22px;line-height:22px;}
.node img{max-width:100%;height:auto !important;}
.qestions-ask-form-node{width:100%;margin:10px 0;}
body.page-node .inner-blocks{margin:0 10px;}
.node-product-parameters{margin:25px 0;}
.node-product-parameters h1,
.node-product-block .h2{text-align:center;margin:15px 0;font-family:'Partner Condensed';font-size:16px;background:#e0e9ed;padding:5px 0;color:#111;}
.node-product-right-left,
.node-product-right,
.node-product-left{width:100%;float:left;}
.node-product-right-right,
.node-product-left .ask-form,
.node-product-left .video-box{display:none;}
.catalogue .item .about-product,
.inner-region-left{display:none;}
.inner-region-right{width:100%;float:left;}
.catalogue{margin:0 10px;}
.catalogue .item{border-bottom:1px solid #e6e6e6;padding-bottom:20px;}
.catalogue .item .product-by{width:40%;border:none;}
.catalogue .item .img-box{border:none;width:58%;margin:0;}
.catalogue .item .img-box img{width:90% !important;height:auto !important;}
.articles-blocks-bottom{margin:20px 0;}
.articles-blocks-bottom .views-row{width:100%;overflow:hidden;}
.articles-blocks-bottom .view-content{margin:0 10px;}
.articles-blocks-bottom .views-row img{width:100% !important;height:auto !important;}
#block-block-6 p{line-height:20px;}
.blockUI.blockMsg.blockPage{width:70% !important;left:15% !important;}
.blockButtons .closeBlock{display:none;}
.cart-items .cart-item .cart-item-info-settings-text{display:none;}
.cart-items .cart-item .cart-item-image{width:100%;}
.cart-items .cart-item .cart-item-image img{max-height:150px;}
.cart-items,
.cart-items-wrapper{max-height:300px;}
.cart-items .cart-item .cart-item-info-settings-prices{float:left;width:100%;margin-right:0px;padding-top:10px;}
.cart-items .cart-item .cart-item-info{width:100%;}
.checkout-cart-block h2.cart-title{text-align:center;position:relative;top:-10px;}
.cart-wrapper-checkout #payment-pane, .cart-wrapper-checkout #customer-pane, .cart-wrapper-checkout #delivery-pane{width:100%;margin-right:0;}
.cart-wrapper-checkout #delivery-pane table{width:100%;}
.cart-items .cart-item .cart-item-info-settings-prices-cost, .cart-items .cart-item .cart-item-info-settings-prices-qty, .cart-items .cart-item .cart-item-info-settings-prices-total{margin-bottom:0;}
.cart-items{margin-bottom:0;}
.cart-wrapper-checkout .cart-wrapper-checkout-title{display:none;}
.cart-wrapper-checkout #customer-pane .description{display:none;}
.cart-wrapper-checkout #payment-pane{padding-bottom:10px;margin-top:10px;}
.cart-wrapper-checkout #uc-cart-checkout-form #edit-continue{position:relative;right:auto;}
.cart-wrapper-checkout #uc-cart-checkout-form #edit-cancel{position:relative;right:auto;}
.cart-wrapper-checkout #checkout-form-bottom{text-align:center;right:auto;}
.footer .copyright{background:transparent;width:100%;height:auto;padding:0;border-bottom:1px solid #e6e6e6;margin:15px 0;padding-bottom:20px;}
.footer .footer-phone-number{width:170px;margin:0 auto;margin-top:15px;}
.footer .copyright a{display:none;}
.footer-about{display:none;}
.footer .footer-catalog{display:none;}
.footer .footer-info-menu{margin-bottom:20px;}
.footer .footer-info-menu h3,
.footer .footer-catalog h3{display:none;}
.footer .footer-info-menu, .footer .footer-catalog{width:100%;height:auto;padding:0;}
.footer .footer-info-menu ul, .footer .footer-catalog ul{margin:10px;}
.footer .footer-info-menu li a, .footer .footer-catalog li a{padding-left:0px;background:transparent;}
.footer .footer-info-menu li, .footer .footer-catalog li{margin-bottom:5px;float:left;width:50%;}
.social-share-googleplus{display:block;background-image:url(/sites/all/themes/osushitel/img/social.png);width:20px;height:20px;float:left;background-repeat:no-repeat;background-position-x:-125px;color:transparent;margin:1px;}
.social-share-facebook{display:block;background-image:url(/sites/all/themes/osushitel/img/social.png);width:20px;height:20px;float:left;background-repeat:no-repeat;background-position-x:0px;color:transparent;margin:1px;}
.social{display:inline-block;clear:both;}
}