#virdini-manager-application-form label {
    font-weight: normal;
}
#virdini-manager-application-form legend {
    color: #699DC2;
    font-size: 15px;
}
#virdini-manager-application-form select {
    float: left;
    border: 2px solid;
    border-color: #699DC2;
    background-color: #fff;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#virdini-manager-application-form option {
    background-color: #fff;
}
#virdini-manager-application-form #edit-mounts-wrapper select {
    float: none;
}
#virdini-manager-application-form input {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 260px;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#virdini-manager-application-form textarea {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    resize: none;
    width: 260px;
    overflow: hidden;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#virdini-manager-application-form .grippie {
    display: none;
}

#virdini-manager-application-form .form-submit {
    background: url(../images/manager.png) 0 0 no-repeat;
    width: 160px;
    height: 26px;
    display: block;
    margin: 12px 0px 0 0;
    font-size: 13px;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}
#virdini-manager-application-form .form-submit:hover {
    background-position: 0 -26px;
}


/*-------------contacts and login form----------------*/
#contact-mail-page {
    font-size: 15px;
    margin-top: 25px;
    float: left;
    margin-right: 20px;
}
#contact-mail-page .form-item input,
#user-login input    {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 300px;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#contact-mail-page textarea {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 300px;
    resize: none;
    overflow: hidden;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#contact-mail-page .grippie {
    display: none;
}
#contact-mail-page #edit-copy-wrapper input {
    width: 20px;
}
#contact-mail-page #edit-submit {
    background: url(../images/call.png) 0 0 no-repeat;
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 16px 7px 11px;
    cursor: pointer;
    border: 0;
    height: 26px;
}
#contact-mail-page #edit-submit:hover {
    background-position: 0 -26px;
}
#contact-mail-page label {
    font-size: 13px;
}
#user-login #edit-submit {
    background: url(../images/send.png) 0 0 no-repeat;
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 29px 7px 29px;
    cursor: pointer;
    border: 0;
    width: 94px;
    height: 26px;
}
#user-login #edit-submit:hover {
    background-position: 0 -26px;
}
.block-webform {
    height: 378px;
    margin-left: 64px;
}
.block-webform h2 {
    display: none;
}

.webform-client-form .form-submit {
    background: url(../images/send.png) 0 0 no-repeat;
    color: white;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    width: 94px;
    height: 26px;
}
.webform-client-form .form-submit:hover {
    background-position: 0 -26px;
}
.webform-client-form input {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 364px;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
.webform-client-form textarea {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 560px;
    height: 194px;
    resize: none;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
    overflow: hidden;
}
h3.askme {
    margin-left: 87px;
}
.webform-client-form #edit-actions {
    margin-left: 236px;
}
#uc-cart-checkout-form .field-label {
font-weight: 100;
text-align: left;
}
#uc-cart-checkout-form input.form-text {
    border: 2px solid;
    border-color: #699DC2;
    margin-bottom: 8px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 364px;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#uc-cart-checkout-form textarea {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 364px;
    height: 158px;
    resize: none;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
    overflow: hidden;
}
#cart-form-products td.subtotal {

}
div.error, tr.error {
    background: #699EC1;
    border: 1px solid #699EC1;
    color: white;
    padding: 6px;
    border-radius: 4px 4px 4px 4px;
    width: 360px;
    margin-left: 260px;
    margin-top: 50px;
}
#edit-panes-delivery-delivery-first-name label {
    display: none;
}
.form-item label {
    font-weight: 100;
}
#cart-form-products td.subtotal .uc-price {
    font-weight: bold;
    margin-left: 18px;
    margin-right: 153px;
}
#uc-cart-checkout-form input#edit-continue {
    background: url(../images/call.png) 0 0 no-repeat;
    width: 123px;
    height: 26px;
    display: block;
    font-size: 13px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 145px;
    overflow: hidden;
}
#uc-cart-checkout-form input#edit-cancel {
    display: none;
}
#uc-cart-checkout-form {
    margin: 0 auto;
    width: 380px;
}
span .ubercart-throbber {
    display: none;
}
#uc-cart-checkout-form input#edit-continue:hover {
    background-position: 0 -26px;
}
#uc-cart-checkout-form #edit-panes-comments-comments-wrapper label {
    font-weight: 100;
}
#checkout-form-bottom {
    border: none;
    overflow: hidden;
    height: 35px;
}
#uc-cart-checkout-form thead.tableHeader-processed {
    display: none;
}
#uc-cart-checkout-form .address-pane-table .form-item {
    margin: 0;
}
#uc-cart-checkout-form td.price {
    width: 188px;
    display: block;
}
#uc-cart-checkout-form th.qty, #uc-cart-checkout-form td.qty {
    display: none;
}
#uc-cart-checkout-form .description {
    display: none;
}
#uc-cart-checkout-form legend.collapse-processed, #uc-cart-view-form .tableHeader-processed {
    display: none;
}

#uc-cart-checkout-form table tr.odd, #uc-cart-checkout-form table tr.even {
    background-color: #F0F3F5;
    width: 680px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 120px;
    margin-bottom: 14px;
    clear: both;
    display: block;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#cart-form-products {
    border: none;
}

#uc-cart-view-form td.remove {
    cursor: pointer;
    vertical-align: middle;
}
#uc-cart-view-form td.remove input.form-submit {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    z-index: 9999;
}
#uc-cart-view-form td.remove input.form-submit:hover {
    text-decoration: underline;
}
#uc-cart-view-form td.image {
    /*position: relative;
    top: 12px;
    left: 19px;*/
}
#cart-form-products td.desc {

}
#uc-cart-view-form td.qty input {
    background-color: transparent;
    outline: none;
    border: 2px solid;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    border-color: #699DC2;
}
#uc-cart-view-form td.price {
    background: none;
    color: black;
    vertical-align: middle;
}
.header-title span h5 {
    float: left;
    text-transform: uppercase;
    font-family: 'ubuntu_condensedregular';
    font-size: 13px;
}
.address-pane-table #edit-panes-delivery-delivery-address-select-wrapper {
    display: none;
}
.address-pane-table img {
    display: none;
}
#uc-cart-view-form .sticky-header {
    display: none;
}
#uc-cart-checkout-form legend {
    display: none;
}
#uc-cart-view-form #cart-form-buttons {
    border: none;
}
#uc-cart-view-form #cart-form-buttons #edit-checkout {
    display: none;
}
#uc-cart-view-form #cart-form-buttons .form-submit {
    background: url(../images/update.ico) 0 0px no-repeat;
    text-indent: -999px;
    border: 0;
    outline: none;
    width: 30px;
    height: 30px;
    margin-top: 13px;
    cursor: pointer;
    float: right;
}
#continue-shopping-link {
    display: none;
}
.page-cart fieldset#cart-pane {
    display: none;
}
.header-title span.first h5 {
    margin-right: 260px;
    margin-left: 47px;
}
.header-title span.last h5 {
    float: right;
    margin-right: 157px;
}


#uc-cart-view-form table tr.even:last-child, #uc-cart-view-form table tr.odd:last-child {
    background-color: transparent;
    color: black;
}
#uc-cart-checkout-form td.products {
    position: relative;
    left: 16px;
    top: 6px;
}
#uc-cart-checkout-form label {
    display: block;
}
#uc-cart-checkout-form .uc-price {
    position: relative;
    right: 29px;
    top: 4px;
}
#uc-cart-checkout-form .address-pane-table {
    margin-top: 22px;
}
#uc-cart-checkout-form #subtotal-title {
    margin-right: 42px;
    position: relative;
    top: 3px;
}
#uc-cart-checkout-form table.sticky-header {
    display: none;
}
#uc-cart-checkout-form #cart-pane legend {
    margin-left: 73px;
    padding-bottom: 13px;
    font-size: 15px;
}

.grippie {
    display: none;
}


.comment {
    margin: 8px 0 22px 2px;
}
.comment-block h5 {
    color: #699DC2;
    padding-bottom: 5px;
    position: relative;
    font-weight: 100;
    top: 17px;
}
.submitted {
    font-weight: 800;
}
#comment-form {
    min-height: 288px;
}

#comment-form #edit-name-wrapper {
    float: left;
    margin-right: 16px;
}
#comment-form #edit-mail-wrapper {
    float: right;
}
#comment-form #edit-mail-wrapper .description {
    display: none;
}
#comment-form #edit-message-wrapper {
    clear: both;
}

#comment-form .form-item input {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 330px;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#edit-captcha-response-wrapper input{
    width: 144px !important;
    height: 30px;
}
#comment-form tr.mceFirst, #comment-form tr.mceLast{
    display: none;
}
#comment-form .defaultSkin .mceIframeContainer {
    border: none !important;
}
#comment-form iframe {
    height: 100px !important;
    width: 688px !important;
}
#comment-form .wysiwyg-toggle-wrapper {
    display: none;
}
#comment-form .collapsed {
    display: none;
}
#comment-form #edit-preview {
    display: none;
}
#comment-form #edit-comment_tbl {
    border: 2px solid;
    border-color: #699DC2;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    width: 688px !important;
    height: 92px !important;
    resize: none;
    behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}
#comment-form .grippie {
    display: none;
}
#comment-form #edit-copy-wrapper input {
    width: 20px;
}
#comment-form #edit-submit {
    background: url(../images/call.png) 0 0 no-repeat;
    color: white;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    height: 26px;
    width: 125px;
}
#comment-form #edit-submit:hover {
    background-position: 0 -26px;
}
#comment-form .form-item label {
    display: block;
    font-weight: normal;
    margin-bottom: 6px;
}
#comment-form .form-required {
    color: #699DC2;
}
#comment-form h3 {
    margin-bottom: 10px;
}
#comment-form p {
    margin-left: 20px;
}
#comment-form #edit-homepage-wrapper {
    display: none;
}

#uc-cart-view-form td.qty {
vertical-align: middle;
}

#uc-cart-view-form td.image {
    padding: 15px;
    width: 122px;
}
#cart-form-products td.desc {
    width: 163px;
    vertical-align: middle;
}
#uc-cart-view-form table tr.odd, #uc-cart-view-form table tr.even {
    background-color: #F0F3F5;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 17px solid white;
}


.upbg {
background-color: white;
width: 155px;
height: 0px;
padding: 0px;
position: relative;
left: 70px;
top: 45px;
z-index: 99;
border-radius: 4px 4px 4px 4px;
box-shadow: 0px 0px 5px;
-moz-transition: all ease .2s;
-webkit-transition: all ease .2s;
}
.callbackform {
    display: none;
    margin-left: 10px;
    position: relative;
    bottom: 20px;
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.header-contact #call:checked ~ .upbg {
    height: 205px;
    -moz-transition: all ease .2s;
    -webkit-transition: all ease .2s;
}
.header-contact #callclose:checked ~ .upbg {
    display: none !important;
}
.header-contact #call:checked ~ .upbg .callbackform {
    display: block !important;
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.header-contact input#call {
    display: none;
}

#edit-panes-customer-primary-email-wrapper label {
    margin-left: 5px;
}
#edit-panes-customer-primary-email-wrapper label span {
    position: relative;
    right: 91px;
}
#comments span {
    /*display: none;*/
}