@font-face{font-family:'Partner Condensed';src:url('../font/partnercondensed-webfont.eot');src:url('../font/partnercondensed-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/partnercondensed-webfont.woff2') format('woff2'),
url('../font/partnercondensed-webfont.woff') format('woff'),
url('../font/partnercondensed-webfont.ttf') format('truetype'),
url('../font/partnercondensed-webfont.svg#partnercondensedregular') format('svg');font-weight:normal;font-style:normal;}
iframe[name=google_conversion_frame]{position:absolute !important;width:0 !important;height:0 !important;}
.form-text.error,
.form-item input.error,
.form-item textarea.error,
.form-item select.error{border:2px solid red;}
body{font-family:'Tahoma', Arial;font-size:12px;color:#737373;}
strong{font-weight:bold;}
a{color:#737373;text-decoration:none;outline:0;}
a:hover{text-decoration:none;}
*:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#virdini-current-application-form .form-text{text-align:center;}
.form-error{border-color:#FF0000 !important;}
.wrapper{width:100%;}
.wrapper-inner{width:970px;margin:0 auto;}
.form-submit,
.btn{background:#66abd8;display:inline-block;font-family:'Partner Condensed';font-size:18px;padding:7px 10px 5px 10px;color:#FFF;border:none;cursor:pointer;}
.form-submit:hover,
.btn:hover{background:#319ce1;}
.btn.big-btn{padding:18px 50px 15px 50px;}
.inner-blocks-brands{margin-top:40px;float:left;width:100%;}
fieldset.captcha .description,
fieldset.captcha legend{display:none;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.form-title{font-family:'Partner Condensed';font-size:20px;color:#699ec1;}
.form-textarea,
.form-text{border:1px solid #e2e8ec;padding:10px 10px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.resizable-textarea{width:100%;}
.grippie{display:none;}
textarea:focus, input:focus{outline:none;}
span.uc-price-product span{font-size:14px !important;}
.block h2{font-family:'Partner Condensed';color:#6da0c2;text-transform:uppercase;font-size:16px;margin-bottom:20px;}
.block ul{margin:0;padding:0;}
ul.links li{padding:0;}
.head{height:130px;width:100%;}
body.front .head{height:30px;}
.head .logo{padding:21px 0 0 10px;display:block;float:left;}
.top-menu{height:30px;border-bottom:1px solid #e6e7e4;background:rgba(242,242,241,1);}
body.front .top-menu{border-bottom:none;}
.top-menu .wrapper-inner{position:relative;}
.top-menu ul{width:100%;list-style-type:none;display:table;margin:0;padding:0;z-index:100;position:relative;}
.top-menu ul li{list-style:none;display:table-cell;margin:0;padding:0;text-align:center;}
.top-menu ul li a{line-height:30px;display:block;padding:0 10px;}
.top-menu ul > li:first-child a{color:#FFF;background:#66aad7 url('../img/arrow-down-white.png') no-repeat 95% 15px;position:relative;}
.top-menu ul > li.menuparent a{background:url('../img/arrow-down-gray.png') no-repeat 95% 15px;}
.top-menu ul > li a:hover{color:#699ec1;}
.top-menu ul > li:first-child a:hover{background:#319ce1 url('../img/arrow-down-white.png') no-repeat 95% 15px;color:#FFF;}
.top-menu ul li ul{display:none;}
.top-menu ul > li:hover ul{display:block;position:absolute;width:230px;background:#FFF;}
.top-menu ul > li:hover ul li{float:left;width:100%;text-align:left;}
.top-menu ul > li:hover ul li:first-child a{color:#737373;}
.top-menu ul > li:hover ul li a{background:transparent;}
.top-menu ul > li:hover ul li a:hover{background:#319ce1;color:#FFF;}
.top-menu ul li.menu-path-productslist.active-top-catalogue a:after{position:absolute;content:'';width:100%;bottom:-3px;height:2px;background:#66aad7;left:0;}
.top-catalogue{display:none;position:absolute;z-index:999;background:#FFF;width:100%;-webkit-box-shadow:0px 12px 28px -13px rgba(0,0,0,0.75);-moz-box-shadow:0px 12px 28px -13px rgba(0,0,0,0.75);box-shadow:0px 12px 28px -13px rgba(0,0,0,0.75);}
.top-catalogue.fixed-top-catalogue{position:fixed;top:0;padding-top:62px;}
.menu-blocks{float:left;width:560px;padding:20px 60px;padding-bottom:0;}
.menu-blocks .menu-block{float:left;text-align:center;width:185px;margin-bottom:10px;}
.menu-blocks .menu-block a{color:#699ec1;font-size:14px;}
.menu-blocks .menu-block .top-catalogue-subcategory{margin-top:8px;}
.menu-blocks .menu-block .top-catalogue-subcategory a{font-family:'Partner Condensed';font-size:14px;color:#737373;}
.menu-blocks .menu-block .top-catalogue-subcategory a:hover{text-decoration:underline;color:#699ec1;}
.menu-blocks .menu-block img{margin-bottom:20px;}
.menu-block-bottom{clear:both;border-top:1px solid #e2e8ec;padding-top:28px;text-align:center;margin:0 40px;margin-top:40px;}
.menu-block-bottom a{padding-left:30px;background:transparent url('../img/ico-link-big.png') no-repeat 0 0;color:#699ec1;font-size:14px;}
.menu-block-product .views-row{margin-right:0;display:none;}
.menu-block-product .products-lists .view-content .views-row.views-row-first{display:block;background:#e2e8ec;margin-right:0;height:342px;}
.header{height:100px;}
body.front .header{z-index:99;position:relative}
body.front .header .wrapper-inner{background:rgba(255, 255, 255, 0.66);height:100px;}
.header-blocks{float:right;width:320px;background:#e4e9ed;height:100px;font-family:'Partner Condensed';}
.header-contacts{float:right;height:100px;width:320px;}
.header-phone{padding:27px 0 5px 25px;clear:both;float:left;}
.header-phone-number,
.header-phone-hours{float:left;}
.header-phone-number{font-family:'Partner Condensed';color:#699ec1;font-size:28px;background:url('../img/phone.png') no-repeat 0 0;padding-left:25px;margin-right:22px;}
.header-phone-number span{color:#737373;}
.header-phone-hours sup{font-size:6px;position:relative;top:-4px;margin-left:2px;}
.header-phone-hours-top{padding-left:8px;background:url('../img/time-dots-top.png') no-repeat 0 0px;font-size:10px;margin-bottom:4px;}
.header-phone-hours-bottom{padding-left:8px;background:url('../img/time-dots-bottom.png') no-repeat 0 0px;font-size:10px;}
.header-email{line-height:15px;clear:both;float:left;padding-left:25px;margin-left:25px;background:url('../img/e-mail.png') no-repeat 0 0;}
.call-me{display:block;height:40px;width:55px;color:#FFF;float:left;background:#77a7c7 url('../img/ico-phone.png') no-repeat 12px 16px;padding:60px 5px 0 5px;text-align:center;}
.call-me:hover{background:#71b1da url('../img/ico-phone.png') no-repeat 12px 16px;}
.header-search{position:relative;}
.show-search{display:block;height:40px;width:55px;color:#699ec1;float:left;background:#FFFFFF url('../img/ico-search.png') no-repeat 18px 23px;padding:60px 5px 0 5px;text-align:center;position:relative;}
.show-search:hover{background:#71b1da url('../img/ico-search-white.png') no-repeat 18px 23px;color:#FFF;}
.header-cart{float:left;}
.header-cart .cart-empty{padding:0 8px;line-height:18px;}
.header-cart .cart-empty a{font-size:14px;padding:5px;margin-top:8px;}
.header-cart .show-cart{display:block;height:40px;width:55px;color:#699ec1;float:left;background:transparent url('../img/ico-cart.png') no-repeat 12px 16px;padding:60px 5px 0 5px;text-align:center;}
.cart-block{float:left;text-align:center;font-family:'Tahoma', Arial;color:#699ec1;width:125px;margin-top:15px;}
.cart-block .have-products{position:relative;}
.cart-block .cart-block-header{color:#737373;}
.cart-block a{background:#66abd8;display:inline-block;font-family:'Partner Condensed';font-size:18px;padding:7px 10px 5px 10px;color:#FFF;}
.cart-block a:hover{background:#319ce1;}
.cart-block .cart-block-inner{margin:6px 0;white-space:nowrap;}
.cart-block .have-products .cart-block-inner{line-height:16px;}
.fixed-menu{width:970px;position:fixed;top:0;height:57px;border-bottom:5px solid #b4cee0;background:#699ec1;z-index:120;left:50%;-webkit-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);display:none;}
.fixed-menu .fixed-menu-logo{margin:8px 0 0 35px;display:block;float:left;}
.fixed-menu .fixed-menu-catalogue{font-family:'Partner Condensed';color:#FFF;font-size:19px;text-align:center;line-height:18px;display:block;width:116px;height:47px;background:#78a8c7;margin-left:60px;float:left;padding-top:10px;}
.fixed-menu .fixed-menu-catalogue:hover{background:#71b1da;}
.fixed-menu .fixed-menu-phone-number{font-family:'Partner Condensed';color:#FFF;font-size:24px;margin-left:120px;margin-top:17px;float:left;}
.fixed-menu .show-search{float:right;height:57px;padding:0;width:45px;background-position:10px 16px;}
.fixed-menu .call-me{float:right;height:57px;padding:0;width:45px;background-position:4px 11px;}
.fixed-menu .show-cart{display:block;height:57px;width:45px;color:#699ec1;float:right;background:#e2e8ec url('../img/ico-cart.png') no-repeat 6px 12px;padding:0;text-align:center;}
.fixed-menu .show-cart:hover{background:#71b1da url('../img/ico-cart-white.png') no-repeat 6px 12px;color:#FFF;}
.slider{height:615px;width:100%;background-size:100% 100%;background-size:cover;position:relative;}
.slider .calculator{font-family:'Partner Condensed';position:absolute;top:50%;right:0;margin-top:-80px;width:130px;height:163px;background:transparent url('../img/calc-bg.png') no-repeat 0 0;color:#FFF;font-size:16px;text-align:center;display:block;z-index:99;}
.slider .calculator span{font-size:12px;}
.slider .calculator .ico{margin:14px 21px 20px 21px;background:transparent url('../img/ico-calc.png') no-repeat 0 0;width:38px;height:41px;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.ei-slider{position:relative;width:100%;height:514px;margin:0 auto;}
.ei-slider-loading{display:none;}
.ei-slider-large{height:100%;width:100%;position:relative;overflow:hidden;}
.ei-slider-large li{position:absolute;top:0px;left:0px;overflow:hidden;height:100%;width:100%;}
.ei-slider-large li img{width:90%;height:auto !important;margin-top:0;}
.ei-title{position:absolute;left:0;top:0;height:415px;width:250px;background:rgba(0, 0, 0, 0.34);color:#FFF;font-size:16px;font-family:'Partner Condensed';padding:50px 25px;}
.ei-title > div{opacity:1 !important;}
.ei-title .slide-title{font-size:36px;}
.ei-title .slide-model{font-size:20px;}
.ei-title .slide-text{margin:20px 0;line-height:19px;}
.ei-title .slide-link{text-align:right;position:absolute;bottom:50px;}
.ei-title .slide-link a{color:#FFF;font-size:18px;text-decoration:underline;}
.ei-slider-thumbs{height:13px;margin:0 auto;position:relative;margin-top:-13px;display:none !important;}
.ei-slider-thumbs li{position:relative;float:left;height:100%;}
.ei-slider-thumbs li.ei-slider-element{top:0px;left:0px;position:absolute;height:100%;z-index:10;text-indent:-9000px;background:#000;background:rgba(0,0,0,0.9);}
.ei-slider-thumbs li a{display:block;text-indent:-9000px;background:#666;width:100%;height:100%;cursor:pointer;-webkit-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);-moz-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);-webkit-transition:background 0.2s ease;-moz-transition:background 0.2s ease;-o-transition:background 0.2s ease;-ms-transition:background 0.2s ease;transition:background 0.2s ease;}
.ei-slider-thumbs li a:hover{background-color:#f0f0f0;}
.ei-slider-thumbs li img{position:absolute;bottom:50px;opacity:0;z-index:999;max-width:100%;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-o-transition:all 0.4s ease;-ms-transition:all 0.4s ease;transition:all 0.4s ease;-webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.ei-slider-thumbs li:hover img{opacity:1;bottom:13px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.breadcrumds{margin-top:1px;margin-bottom:1px;float:left;width:100%;font-size:11px;}
.breadcrumds a{font-size:11px;}
.breadcrumds .wrapper-inner .block{background:#edeef0;padding:6px 12px;}
.breadcrumds .easy-breadcrumb_segment-separator{text-indent:-9999px;background:url('../img/ico-link-gray.png') no-repeat 8px 2px;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;padding:0 10px;}
.catalogue-blocks{margin:45px 0;width:100%;}
.catalogue-block{width:200px;height:320px;margin-right:25px;float:left;padding:20px 10px;font-family:'Partner Condensed';text-align:center;position:relative;}
.catalogue-block.bg{background:url('../img/catalogue-block-bg.png') no-repeat 0 0;}
.catalogue-blocks .catalogue-block:last-child,
.catalogue-block.last{margin-right:0;}
.catalogue-block a{font-size:14px;}
.catalogue-block a:hover{text-decoration:underline;color:#699ec1;}
.catalogue-block > div{padding:7px 0;}
.catalogue-block > div:first-child{padding:0;}
.catalogue-block.last> div:first-child{margin-bottom:20px;}
.catalogue-block > div:first-child a{font-size:18px;border-bottom:2px solid #737373;display:block;padding-bottom:5px;}
.catalogue-block > div:first-child a:hover{text-decoration:none;color:#737373;}
.catalogue-block.bg > div:first-child a{border-bottom-color:#699ec1;color:#699ec1;}
.catalogue-block.bg > div:first-child a:hover{color:#699ec1;text-decoration:none;}
.catalogue-block img{margin:25px 0;}
.catalogue-block > div:last-child{position:absolute;bottom:10px;width:100%;text-align:center;left:0;}
.catalogue-block > div:last-child a{text-decoration:underline;}
.products-blocks{margin:40px 0;width:100%;font-family:'Partner Condensed';float:left;}
.products-blocks .tabs-content{margin-top:20px;}
.tabs-content,
.tabs{width:100%;display:block;float:left;}
.tabs li{float:left;margin-right:2px;}
.tabs li a{display:block;padding:10px 30px;color:#FFF;background:#a3acb3;font-size:16px;}
.tabs li.active a{background:#699ec1;}
.tabs li a:hover{background:#71b1da;}
.tabs-content li{display:none;position:relative;}
.tabs-content li.active{display:block;}
.tabs-content .tabs-link{position:absolute;top:-30px;right:0;color:#6da0c2;display:block;}
div.view:hover div.views-hide{margin-top:0;}
.products-lists .view-content .views-row{float:left;width:220px;height:300px;margin-right:25px;position:relative;text-align:center;}
.products-lists .view-content .views-row.views-row-last{margin-right:0;}
.products-lists .view-content .views-row .last_price,
.products-lists .view-content .views-row .pr-more{display:none;}
.products-lists .view-content .views-row .price{position:absolute;font-size:28px;font-family:'Tahoma', Arial;padding:15px 10px;border-top:1px solid #e6e6e6;background:rgba(255, 255, 255, 0.8);top:0;right:0;}
.products-lists .view-content .views-row:hover .price{color:#6da1c3;}
.products-lists .view-content .views-row .novelty-front,
.products-lists .view-content .views-row .action-front{position:absolute;width:100%;font-size:16px;text-align:center;color:#FFF;background:rgba(210, 74, 67, 0.63);padding:15px 0;top:50%;left:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);display:none;}
.products-lists .view-content .views-row .novelty-front{background:rgba(208, 166, 0, 0.6);}
.products-lists .view-content .views-row .novelty-front,
.products-lists .view-content .views-row .action-front{display:block;}
.products-lists .view-content .views-row img{margin:10px 0;}
.products-lists .view-content .views-row .qty{position:absolute;left:0;bottom:0;width:50%;color:#169a00;font-family:'Tahoma', Arial;text-align:center;border-bottom:1px solid #e6e6e6;border-left:1px solid #e6e6e6;height:40px;line-height:40px;}
.products-lists .view-content .views-row .list-add-to-cart{position:absolute;right:0;bottom:0;width:50%;height:40px;line-height:40px;border:none;text-align:center;font-size:18px;cursor:pointer;color:#FFF;padding:2px 0 0 0;}
.products-lists .view-content .views-row h3{font-size:16px;position:absolute;bottom:60px;text-align:center;left:0;width:100%;}
.video-blocks{height:560px;width:100%;float:left;background:transparent url('../img/video.jpg') no-repeat 100% 100%;background-size:cover;}
.video-blocks .btn{position:absolute;right:0;top:20px;-webkit-box-shadow:1px 1px 0px 0px rgba(226,232,236,1);-moz-box-shadow:1px 1px 0px 0px rgba(226,232,236,1);box-shadow:1px 1px 0px 0px rgba(226,232,236,1);}
.video-blocks .wrapper-inner{position:relative;height:560px;}
.video-blocks .video-other-rows{position:absolute;left:0;width:100%;bottom:20px;}
.video-blocks .video-other-rows .video-second-row{position:relative;overflow:hidden;float:left;width:220px;height:135px;margin-right:25px;-webkit-box-shadow:1px 1px 0px 0px rgb(89, 89, 89);-moz-box-shadow:1px 1px 0px 0px rgb(89, 89, 89);box-shadow:1px 1px 0px 0px rgb(89, 89, 89);opacity:0.8;}
.video-blocks .video-other-rows .video-second-row:hover{opacity:1;}
.video-blocks .video-other-rows .video-second-row:last-child{margin-right:0;}
.video-blocks .video-other-rows .video-second-row .video-title{padding:10px;background:rgba(0, 0, 0, 0.7);color:#FFF;display:block;z-index:2;position:relative;}
.video-blocks .video-other-rows .video-second-row .video-screenshot{position:absolute;top:-15px;z-index:1;}
.video-blocks .video-other-rows .video-second-row .video-screenshot img{width:100%;}
.video-blocks .video-other-rows .video-second-row .video-screenshot span{position:absolute;display:block;left:50%;top:50%;width:76px;height:76px;margin-left:-38px;margin-top:-18px;background:transparent url('../img/ico-play.png') no-repeat 0 0;cursor:pointer;}
.video-blocks .video-first-row .video-title{font-size:18px;position:absolute;color:#FFF;left:0;top:40px;font-family:'Partner Condensed';}
.video-blocks .video-first-row .video-screenshot img{display:none;}
.video-blocks .video-first-row .video-screenshot span{position:absolute;display:block;left:50%;top:50%;width:76px;height:76px;margin-left:-38px;margin-top:-18px;background:transparent url('../img/ico-play.png') no-repeat 0 0;cursor:pointer;}
.ask-news-blocks{position:relative;float:left;width:100%;margin:60px 0;}
.ask-news-blocks .ask-block{float:left;width:220px;margin-right:25px;}
.ask-news-blocks .ask-block .views-row{margin-bottom:25px;float:right;width:100%;line-height:16px;}
.ask-news-blocks .ask-block .views-row a{color:#6da0c2;float:right;}
.ask-news-blocks .news-articles-block{float:right;width:720px;}
.news-articles-block .views-row{float:left;width:240px;height:250px;overflow:hidden;position:relative;}
.news-articles-block .views-row h2,
.news-articles-block .views-row h3{display:block;position:absolute;left:0;width:100%;text-align:center;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:14px;background:rgba(0, 0, 0, 0.7);z-index:2;}
.news-articles-block .views-row h2 a,
.news-articles-block .views-row h3 a{color:#FFF;padding:15px 10px;text-align:center;display:block;}
.news-articles-block .views-row .date{display:block;position:absolute;right:0;color:#FFF;padding:8px;top:0;font-size:14px;background:rgba(0, 0, 0, 0.7);font-family:'Partner Condensed';font-size:14px;z-index:2;}
.news-articles-block .views-row:hover img{-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray;z-index:1;}
.question-seo-blocks{position:relative;float:left;width:100%;margin:0 0 60px 0;}
.question-seo-blocks .question-block{float:left;width:220px;margin-right:25px;}
.question-seo-blocks .question-block .block h2{margin-bottom:10px;}
.question-seo-blocks .seo-block{float:right;width:720px;}
.ask-news-blocks .seo-block{float:right;width:720px;}
.view-seo-text h1{font-family:'Partner Condensed';color:#6da0c2;text-transform:uppercase;font-size:16px;margin-bottom:20px;}
.view-seo-text .body{line-height:18px;font-size:14px;}
.block-poll{background:#e2e8ec;padding:20px 10px;}
.block-poll .poll .bar .foreground{background-color:#699ec1;}
.block-poll .poll .title{font-size:14px;line-height:18px;margin-bottom:10px;}
.block-poll .poll .text{margin-bottom:4px;}
.block-poll .links-poll{text-align:center;margin-top:10px;}
.block-poll .links-poll a{background:#66abd8;display:inline-block;font-family:'Partner Condensed';font-size:18px;padding:7px 10px 5px 10px;color:#FFF;}
.footer{background:#a3acb3;float:left;width:100%;color:#FFF;font-size:14px;}
.footer .footer-info-menu,
.footer .footer-catalog,
.footer .footer-about,
.footer .copyright{float:left;padding:40px 15px;width:190px;height:170px;}
.footer .footer-info-menu h3,
.footer .footer-catalog h3,
.footer .footer-about h3{color:#FFF;font-family:'Partner Condensed';text-transform:uppercase;font-size:16px;margin-bottom:20px;}
.footer .copyright{background:#699ec1;text-align:center;line-height:20px;}
.footer .footer-about{width:280px;}
.footer-about-body{margin-left:20px;line-height:22px;}
.footer a{color:#FFF;}
.footer .footer-info-menu li,
.footer .footer-catalog li{margin-bottom:15px;}
.footer .footer-info-menu li a,
.footer .footer-catalog li a{padding-left:20px;background:transparent url('../img/ico-link.png') no-repeat 0 4px;}
.footer .footer-info-menu li a.active,
.footer .footer-catalog li a.active,
.footer .footer-info-menu li a:hover,
.footer .footer-catalog li a:hover{color:#315771;}
.footer .footer-phone-number{font-family:'Partner Condensed';color:#FFFFFF;font-size:28px;background:url('../img/phone-footer.png') no-repeat 0 2px;padding-left:25px;line-height:30px;margin:30px 0;}
.inner-blocks .block-right .block-title{font-family:'Partner Condensed';color:#FFFFFF;font-size:18px;background:#a3acb3;padding:19px 0 15px 0;text-align:center;}
.inner-blocks .catalogue-blocks{margin:0;}
.inner-blocks .products-lists .view-content .views-row{margin-bottom:20px;}
.inner-blocks .inner-left{float:left;width:710px;}
.inner-blocks .inner-right{float:right;width:220px;}
.inner-blocks .catalogue-brands{width:100%;float:left;margin:40px 0;}
.inner-blocks .catalogue-brands li{width:220px;display:block;margin-right:25px;background:#f0f0f0;text-align:center;margin-bottom:25px;float:left;}
.inner-blocks .catalogue-brands li a{display:block;cursor:pointer;width:220px;height:100px;padding-top:20px;}
.inner-blocks .catalogue-brands li a img{margin-bottom:10px;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray;}
.inner-blocks .catalogue-brands li:hover a img{-webkit-filter:inherit;-moz-filter:inherit;-ms-filter:inherit;-o-filter:inherit;filter:inherit;filter:inherit;}
.inner-blocks .catalogue-brands li.no-margin{margin-right:0;}
.top-products-info{width:100%;float:left;position:relative;margin-bottom:40px;margin-top:25px;}
.top-products-info .top-products-info-menu{float:left;width:220px;}
.top-products-info .top-products-info-menu .info-menu-sub-menu{display:none;margin-left:30px;margin-bottom:15px;}
.top-products-info .top-products-info-menu .info-menu-sub-menu a{color:#699ec1;}
.top-products-info .top-products-info-menu .info-menu-sub-menu a:hover{text-decoration:underline;}
.top-products-info .top-products-info-menu .info-menu-top-menu{font-size:18px;color:#737373;text-transform:none;font-family:'Partner Condensed';margin-bottom:10px;}
.top-products-info .top-products-info-menu .info-menu-top-menu.active-category a{color:#737373;background:url('../img/arrow-down-gray.png') no-repeat 100% 10px;padding-right:10px;}
.top-products-info .top-products-info-menu .info-menu-sub-menu.active-category{display:block;}
.top-products-info .top-products-info-menu .info-menu-sub-menu.active-category a{padding-left:10px;}
.top-products-info .top-products-info-menu .info-menu-sub-menu.active-category a.active{background:url('../img/arrow-right-gray.png') no-repeat 0 5px;}
.top-products-info .top-products-info-text{float:right;width:720px;}
.top-products-info .top-products-info-text h1{margin-bottom:15px;}
.top-products-info.top-products-info-brand .top-products-info-text{width:100%;}
.top-products-info .top-products-info-text h2{font-size:18px;color:#737373;text-transform:none;}
.top-products-info .top-products-info-text .content{line-height:20px;}
.top-products-blocks{width:100%;float:left;position:relative;margin-bottom:60px;}
.top-products-blocks:before{position:absolute;display:block;content:'';left:0;top:0;width:100%;height:180px;background:#a3acb3;}
.top-products-blocks .products-lists .view-content{text-align:center;}
.top-products-blocks .products-lists .view-content .views-row{background:#FFF;float:none;display:inline-block;}
.top-products-blocks h2{text-align:center;margin:25px 0;font-family:'Partner Condensed';color:#FFFFFF;font-size:18px;position:relative;text-transform:uppercase;}
.inner-region-left{width:220px;float:left;}
.inner-region-right{width:720px;float:right;}
.products-filter .title{text-align:center;margin:0 0 15px 0;font-family:'Partner Condensed';font-size:18px;text-transform:uppercase;}
.products-filter .price-filter{margin-bottom:25px;}
.products-filter label{cursor:pointer;margin-left:10px;}
.filters-list ul{margin-bottom:25px;}
.filters-list li{margin-bottom:8px;}
.buttons-filter{text-align:center;}
.buttons-filter a{margin-bottom:8px;}
.catalogue .item{width:100%;float:left;margin-bottom:25px;}
.catalogue .item .img-box{float:left;position:relative;border-bottom:1px solid #e6e6e6;border-left:1px solid #e6e6e6;margin-right:25px;}
.catalogue .item .about-product{float:left;width:305px;margin-right:25px;}
.catalogue.catalogue-full-size .item .about-product{width:440px;}
.catalogue .item .about-product .title-block{margin-bottom:20px;}
.catalogue .item .about-product .title-block a{font-family:'Partner Condensed';font-size:18px;}
.catalogue .item .about-product .product-model,
.catalogue .item .about-product .type{color:#699ec1;}
.catalogue .item .about-product .product-model span,
.catalogue .item .about-product .type span{float:right;color:#666666;}
.catalogue .item .about-product .type{margin-bottom:20px;margin-top:6px;}
.catalogue .item .about-product .parametr-list li{margin-bottom:6px;}
.catalogue .item .about-product .parametr-list li span{float:right;}
.catalogue .item .product-by{float:left;position:relative;width:140px;border-top:1px solid #e6e6e6;height:210px;text-align:center;}
.catalogue.catalogue-full-size .item .product-by{width:258px;}
.catalogue .item .product-by .new_price{color:#6da1c3;font-size:28px;margin:15px 0;}
.catalogue .item .product-by .stock{line-height:22px;color:#169a00;}
.catalogue .item .product-by .last_price{display:none;}
.catalogue .item .product-by .manufacturer h3{font-size:18px;margin:20px 0;font-family:'Partner Condensed';}
.catalogue .item .product-by .list-add-to-cart{position:absolute;right:0;bottom:0;width:100%;height:40px;line-height:40px;border:none;text-align:center;font-size:18px;cursor:pointer;color:#FFF;padding:3px 0 0 0;}
.catalogue .item .img-box .novelty,
.catalogue .item .img-box .action{position:absolute;width:100%;font-size:16px;text-align:center;color:#FFF;background:rgba(210, 74, 67, 0.63);padding:15px 0;top:50%;left:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);display:none;}
.catalogue .item .img-box .novelty{background:rgba(208, 166, 0, 0.6);}
.catalogue .item .img-box #onnovetly.novelty{display:block;}
.articles-blocks-bottom{float:left;width:100%;margin:60px 0;}
.articles-blocks-bottom .views-row{float:left;width:242px;position:relative;height:250px;}
.articles-blocks-bottom .views-row h2{display:block;position:absolute;left:0;width:100%;text-align:center;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:14px;background:rgba(0, 0, 0, 0.7);}
.articles-blocks-bottom .views-row h2 a{color:#FFF;padding:15px 10px;text-align:center;display:block;line-height:20px;}
.articles-blocks-bottom .views-row .date{display:block;position:absolute;right:0;color:#FFF;padding:8px;top:0;font-size:14px;background:rgba(0, 0, 0, 0.7);font-family:'Partner Condensed';font-size:14px;}
.pager-title{display:none;}
.item-list .pager li{margin:0;padding:0;}
.item-list ul.pager .pager-current{padding:5px 8px 3px 8px;}
.item-list ul.pager .pager-current,
.item-list ul.pager a{font-family:'Partner Condensed';color:#699ec1;font-size:18px;height:33px;line-height:36px;}
.item-list ul.pager a{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;padding:0 8px;}
.item-list ul.pager .pager-current,
.item-list ul.pager li:hover a{color:#FFF;background:#699ec1;}
.wrapper-inner-tabs{position:relative;}
ul.primary{border-collapse:collapse;padding:0;white-space:nowrap;list-style:none;margin:0;height:auto;line-height:normal;border-bottom:none;text-align:right;}
ul.primary li{border:none;margin-right:-2px;float:none;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
ul.primary li a{border:none;font-size:12px;padding:5px 10px;margin:0;}
ul.primary li.active a{background:#699ec1;border:none;}
.global-region-left{width:220px;float:left;}
.global-region-right{width:720px;float:right;}
.inner-blocks.margin-inner,
.node{margin-top:20px;margin-bottom:40px;float:left;width:100%;}
.node{line-height:18px;}
.node h1{color:#737373;font-size:18px;line-height:32px;margin-bottom:8px;}
.node .node-header{margin-bottom:15px;position:relative;}
.node .node-icons{position:absolute;right:0;margin-top:-21px;}
.node .node-icons .node-icon{float:right;font-size:10px;color:#a3acb3;line-height:16px;padding-left:20px;margin-left:15px;}
.node .node-icons .node-icon.node-icon-user{background:url('../img/ico-user.png') no-repeat 3px 1px;}
.node .node-icons .node-icon.node-icon-views{background:url('../img/ico-views.png') no-repeat 0 2px;}
.node p span,
.node p{font-family:'Tahoma', Arial !important;font-size:12px !important;color:#737373;}
.node .node-text p{margin-bottom:15px;}
.node .node-text a{color:#298bcc;text-decoration:underline;outline:0;}
.node .node-text p span.list{margin-left:10px;background:url(../img/bullet.png) 0px 6px no-repeat;padding-left:10px;}
.node .node-text span.h3,
.node .node-text p.h3,
.node .node-text span.h2,
.node .node-text p.h2{color:#595959;font-size:16px !important;}
.node .node-text h1,
.node .node-text h2,
.node .node-text h3,
.node .node-text h4{font-family:'Partner Condensed', Arial !important;color:#298bcc;}
.node .node-text h1{font-size:32px;}
.node .node-text h2{font-size:28px;}
.node .node-text h3{font-size:24px;}
.node .node-text h4{font-size:18px;}
body.node-type-useful-article .node h1.node-title{font-family:'Partner Condensed', Arial !important;color:#298bcc;font-size:32px;}
.node .node-text ul{margin-bottom:15px;}
.node .node-text ul li{margin-left:10px;background:url(../img/bullet.png) 0px 6px no-repeat;padding-left:15px;list-style:none;}
.node .node-image{float:left;margin-right:25px;}
.node-content{width:100%;float:left;}
.node-tabs{width:100%;float:left;height:36px;margin-bottom:10px;}
.node-tabs .created{float:right;color:#48a841;font-size:10px;line-height:26px;}
.node-tabs ul{float:left;}
.node-tabs ul li{float:left;margin-right:2px;}
.node-tabs ul li a{padding:5px 20px;font-family:'Partner Condensed';color:#737373;border-bottom:2px solid #737373;font-size:16px;text-transform:uppercase;}
.node-tabs ul li a:hover,
.node-tabs ul li a.active{color:#699ec1;border-bottom:2px solid #699ec1;}
ul.left-menu li.level-1{margin-bottom:10px;margin-top:15px;}
ul.left-menu li.level-1:first-child{margin-top:0;}
ul.left-menu li.level-1 a{font-size:18px;text-transform:none;font-family:'Partner Condensed';color:#737373;background:url('../img/arrow-down-gray.png') no-repeat 100% 10px;padding-right:10px;}
ul.left-menu li.level-2{margin-left:20px;margin-bottom:8px;}
ul.left-menu li.level-2 a{color:#699ec1;}
ul.left-menu li.level-2 a:hover{text-decoration:underline;}
ul.left-menu li.level-3{margin-bottom:8px;}
ul.left-menu li.level-3 a{color:#699ec1;}
ul.left-menu li.level-3 a:hover{text-decoration:underline;}
.view-lists .views-row{float:left;width:48%;margin-right:4%;margin-bottom:25px;}
.view-lists .views-row.views-row-even{margin-right:0;}
.view-lists .views-row .views-field-title{margin-bottom:8px;}
.view-lists .views-row .views-field-title a{color:#737373;font-size:14px;font-weight:bold;}
.view-lists .views-row .views-field-created{color:#48a841;font-size:10px;margin-bottom:8px;}
.view-lists .views-row .views-field-body{line-height:16px;font-size:11px;}
.view-lists .views-row .views-field-view-node a{line-height:16px;font-size:11px;color:#699ec1;text-decoration:underline;float:right;}
.node-product{margin:25px 0 60px 0;float:left;width:100%;}
h1.product-title{font-family:'Partner Condensed';font-size:16px;border-bottom:1px solid #a3acb3;padding-bottom:8px;margin-bottom:20px;}
.node-product-left{float:left;width:305px;}
.node-product-right{float:right;width:635px;}
.node-product-left .img-box{position:relative;}
.node-product-left .img-box-small{position:relative;float:left;margin:5px 0;width:33%;}
.node-product-left .product-links{margin-top:15px;}
.node-product-left .img-box .zoom{display:block;width:44px;height:44px;top:0;left:0;position:absolute;cursor:pointer;background:url('../img/zoom.png') no-repeat 0 0;}
.node-product-left .img-box-small img{width:90%;border-bottom:3px solid #FFF;padding-bottom:3px;}
.node-product-left .img-box-small img:hover{border-bottom:3px solid #319ce1;}
.node-product-left .img-box img{width:100%;}
.node-product-left .video-box{width:305px;height:225px;position:relative;margin:20px 0;overflow:hidden;}
.node-product-left .video-box .video-title{padding:10px;background:rgba(0, 0, 0, 0.7);color:#FFF;display:block;z-index:2;position:relative;}
.node-product-left .video-box .video-screenshot{position:absolute;top:-15px;z-index:1;}
.node-product-left .video-box .video-screenshot img{width:100%;}
.node-product-left .video-box .video-screenshot span{position:absolute;display:block;left:50%;top:50%;width:76px;height:76px;margin-left:-38px;margin-top:-18px;background:transparent url('../img/ico-play.png') no-repeat 0 0;cursor:pointer;}
.node-product-left .product-links li{margin-bottom:10px;}
.node-product-left .product-links li img{margin-right:10px;float:left;}
.node-product-left .product-links li a{color:#737373;text-decoration:underline;line-height:30px;}
.node-product-left .product-links li a span{float:right;}
.node-product-left .ask-form{margin:30px 0;}
.node-product-left .ask-form label{display:none;}
.node-product-left .ask-form .form-submit{float:right;}
.node-product-right-left{float:left;width:390px;}
.node-product-right-right{float:right;width:220px;}
.node-product-days{width:97px;height:55px;background:transparent url('../img/product-days.png') no-repeat 0 0;text-align:center;color:#808080;font-size:12px;float:left;padding:20px 0;margin-left:30px;}
.node-product-days div{color:#d32020;font-size:40px;font-weight:bold;}
.node-product-buy{margin-top:10px;float:left;width:120px;}
.node-product-buy .form-submit{width:120px;padding:6px 0;font-size:24px;}
.node-product-buy a{border-bottom:1px dashed #737373;line-height:22px;}
.node-product-buy a.phone-call{color:#699ec1;border-bottom-color:#699ec1;}
.node-product-price{margin-top:10px;float:left;margin-right:30px;text-align:right;}
.node-product-price-uah{color:#6da1c3;font-size:26px;font-family:'Partner Condensed';}
.node-product-price-usd{margin:8px 0;}
.node-product-parameters{float:left;width:100%;margin:45px 0;}
.node-product-parameters h1{color:#6da1c3;font-size:20px;font-family:'Partner Condensed';margin-bottom:10px;}
.node-product-parameters h2{color:#6da1c3;font-size:18px;font-family:'Partner Condensed';margin-bottom:10px;}
.node-product-parameters li{font-size:11px;margin-bottom:10px;}
.node-product-parameters li span{float:right;}
.node-product-block{float:left;width:100%;margin:0 0 20px 0;}
.node-product-block .h2{color:#6da1c3;font-size:20px;font-family:'Partner Condensed';margin-bottom:10px;}
.node-product-block p{line-height:18px;}
.node-product-block p .list{margin-left:10px;background:url(../img/bullet.png) 0px 6px no-repeat;padding-left:10px;}
.node-product-credit{float:left;width:100%;margin:10px 0 40px 0;}
.node-product-credit a{border-bottom:1px dashed #699ec1;color:#699ec1;float:right;}
.node-product-credit-title{margin-bottom:10px;}
.node-product-credit-title a{float:none;}
.node-product-credit-line{float:left;width:100%;margin:0 0 10px 0;font-size:11px;background:url(../img/x.png) 50% 2px no-repeat;}
.node-product-credit-line-left{float:left;}
.node-product-credit-line-left span{color:#6da1c3;font-size:18px;font-family:'Partner Condensed';width:20px;text-align:right;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.node-product-credit-line-right{float:right;}
.node-product-credit-line-right .uc-price{color:#6da1c3;font-size:18px;font-family:'Partner Condensed';}
.node-product-delivery,
.node-product-varianty{float:left;width:100%;margin:0 0 30px 0;font-size:11px;}
.node-product-delivery h2,
.node-product-varianty h2{color:#6da1c3;font-size:20px;font-family:'Partner Condensed';margin-bottom:10px;text-align:center;}
.node-product-delivery .open-text p,
.node-product-varianty .open-text p{text-align:center;margin-bottom:8px;}
.node-product-delivery .open-text span,
.node-product-varianty .open-text span{text-decoration:none !important;}
.node-product-delivery .open-text a,
.node-product-varianty .open-text a{line-height:32px;color:#6da1c3;text-decoration:underline;}
.node-product-delivery h2 img{position:relative;top:3px;left:-5px;}
.node-product-varianty h2 img{position:relative;top:6px;left:-5px;}
.node-product-country{float:left;width:100%;margin:0 0 30px 0;}
.node-product-country .h2{color:#6da1c3;font-size:20px;font-family:'Partner Condensed';margin-bottom:10px;}
.node-product-country li{margin-bottom:10px;line-height:26px;}
.node-product-country li img{float:left;margin-right:8px;}
.node-product-country li span{float:right;}
.blockUI.blockOverlay{cursor:default !important;opacity:0.4 !important;}
.blockUI.blockMsg.blockPage{padding:0px !important;color:#737373 !important;border:none !important;cursor:default !important;border-radius:0px !important;box-shadow:0 !important;;background-clip:padding-box;}
.blockUI.blockMsg.blockPage .messages{margin:20px 0;}
.blockUI.blockMsg.blockPage h2{color:#6da1c3;font-size:20px;font-family:'Partner Condensed';margin-top:30px;}
.blockUI.blockMsg.blockPage .blockButtons{text-align:right;margin-bottom:30px;}
.blockUI.blockMsg.blockPage .blockButtons .btn{margin-left:20px;background:#298bcc;font-size:18px;padding:8px 20px 5px 20px;}
.blockUI.blockMsg.blockPage .blockButtons .closeBlock{color:#699ec1;border-bottom:1px dashed #699ec1;}
.blockUI.blockMsg.blockPage .close-button{width:50px;height:50px;display:block;background:url(../img/close.png) 0 0 no-repeat;cursor:pointer;position:absolute;top:0;right:-50px;}
.top-products-info-text{line-height:18px;font-size:14px;}
.top-products-info-text h1,
.top-products-info-text h2,
.top-products-info-text h3,
.top-products-info-text h4{font-family:'Partner Condensed', Arial !important;color:#298bcc;}
.top-products-info-text h1{font-size:32px;}
.top-products-info-text h2{font-size:28px;}
.top-products-info-text h3{font-size:24px;}
.top-products-info-text h4{font-size:18px;margin-top:15px;}
.top-products-info-text ul{margin-bottom:15px;}
.top-products-info-text ul li{margin-left:10px;background:url(../img/bullet.png) 0px 6px no-repeat;padding-left:15px;list-style:none;}
#block-admin-display-form table{width:100%;}
#block-admin-display-form table td{padding:5px;}
.seo-wrapper{float:left;width:100%;margin:0 0 60px 0;}
.seo-wrapper p{line-height:18px;}
.price.price-in-stock{color:#6da1c3;}
#cboxWrapper{overflow:inherit;background:#fff;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
#cboxOverlay{opacity:0.45 !important;}
#colorbox,
#cboxWrapper #cboxContent{overflow:inherit;}
#cboxWrapper #cboxClose{width:50px;height:50px;display:block;background:url(../img/close.png) 0 0 no-repeat;cursor:pointer;position:absolute;top:-15px;right:-65px;}
#cboxLoadedContent{margin-bottom:75px;}
#cboxTitle{position:relative !important;background:rgba(255, 255, 255, 1) !important;bottom:auto !important;display:block !important;height:auto !important;padding:4px !important;margin:0 !important;top:-60px !important;overflow:inherit !important;}
.colorbox-button{position:absolute;right:-7px;display:block;color:#FFF;background:#699ec1;padding:8px 30px;color:#FFF;font-size:16px;font-family:'Partner Condensed';}
.colorbox-enlarge{padding:0 !important;}
.colorbox-enlarge #cboxLoadedContent{margin-bottom:0 !important;}
.colorbox-enlarge #cboxTitle{display:none !important;}
.qestions-page-left{float:left;width:305px;}
body.page-ask .content-inner{float:right;width:635px;margin-bottom:60px;}
.qestions-img-box img{width:100% !important;height:auto !important;}
.qestions-info-text{margin-top:20px;line-height:18px;}
.qestions-info-text .h3{font-size:16px;font-family:'Partner Condensed';color:#699ec1;}
.qestions-ask-form h2{font-size:22px;font-family:'Partner Condensed';color:#699ec1;}
.qestions-ask-form-node{text-align:center;width:306px;height:175px;margin-top:0px;padding-top:0px;float:left;margin-right:20px;position:relative;}
.qestions-ask-form-node .beforetanks{display:none;position:absolute;top:0;left:0;z-index:99;}
.qestions-ask-form-node label{display:none;}
.qestions-ask-form-node h2{text-align:center;font-size:22px !important;}
.qestions-ask-form-node .form-submit{float:right;}
.qestions-ask-form-node .call-text-info{display:none;}
body.page-ask .content-inner-wrapper{margin-top:30px;}
.view-unswer .views-row{margin-bottom:40px;float:left;width:100%;}
.view-unswer .qestions-ask-top{margin-bottom:10px;float:left;width:100%;line-height:20px;}
.view-unswer .qestions-ask-top .qestions-ask-user,
.view-unswer .qestions-ask-top .qestions-ask-date{float:right;margin-left:10px;font-size:10px;}
.view-unswer .qestions-ask-top .qestions-ask-date{color:#48a841;}
.view-unswer .qestions-ask-top .qestions-ask-user{padding-left:20px;background:url(../img/small-user.png) 0px 3px no-repeat;color:#a3acb3;}
.view-unswer .qestions-ask-qestions{line-height:16px;}
.view-unswer .qestions-ask-bottom .qestions-ask-answer-user-top{width:100%;float:left;margin-top:10px;}
.view-unswer .qestions-ask-bottom .qestions-ask-answer-user-arrow{background:url(../img/question-arrow.png) 0px 0px no-repeat;float:left;margin-left:20px;width:46px;height:20px;}
.view-unswer .qestions-ask-bottom .qestions-ask-answer-user{padding-left:20px;background:url(../img/small-user.png) 0px 3px no-repeat;font-size:10px;line-height:20px;float:left;color:#a3acb3;margin-left:10px;position:relative;top:-4px;}
.view-unswer .qestions-ask-answer{width:100%;float:left;background:#f2f2f2;}
.view-unswer .qestions-ask-answer .qestions-ask-answer-inner{padding:10px;line-height:16px;}
.page-contacts-inner{width:100%;float:left;margin:50px 0;}
.page-contacts-inner .contacts,
.page-contacts-inner .map,
.page-contacts-inner .contacts-form{width:305px;margin-right:25px;float:left;}
.page-contacts-inner .contacts-form{margin-right:0;}
.page-contacts-inner .contacts-form label{display:none;}
.page-contacts-inner .contacts{line-height:16px;}
.page-contacts-inner .contacts .h3{font-weight:bold;color:#595959;}
.page-contacts-inner .contacts .contacts-top{margin-bottom:20px;line-height:22px;display:block;float:left;width:100%;}
.page-contacts-inner .contacts .contacts-top span{color:#699ec1;}
.page-contacts-inner .contacts-form #virdini-contact-application-form .form-item:first-child{margin-top:0;}
.video-page-inner{float:left;width:100%;margin:70px 0;}
.video-page-inner .vid_inner{float:left;width:323.33px;height:275px;margin-bottom:40px;position:relative;}
.video-page-inner .vid_inner img{width:323.33px;}
.video-page-inner .vid_inner .video-title{margin:10px 0;}
.video-page-inner .vid_inner .vid_desc{display:none;line-height:16px;background:#FFF;}
.video-page-inner .vid_inner:hover .vid_desc{display:block;}
.video-page-inner .vid_inner:hover .vid-inner-hover{padding:10px;position:absolute;top:-10px;left:-10px;background:#FFF;z-index:10;-webkit-box-shadow:0px 10px 19px -4px rgba(0,0,0,0.5);-moz-box-shadow:0px 10px 19px -4px rgba(0,0,0,0.5);box-shadow:0px 10px 19px -4px rgba(0,0,0,0.5);}
.video-page-inner .vid_inner:hover .video-title{color:#699ec1;text-decoration:underline;}
.colorbox-cart #cboxLoadedContent{margin-bottom:0;overflow:inherit !important;}
.colorbox-cart #cboxTitle{display:none !important;}
.checkout-cart-block h2.cart-title{font-size:28px;font-family:'Partner Condensed';color:#737373;margin:10px 20px;}
.checkout-cart-block #cart-form-buttons{position:absolute;}
.cart-items{width:100%;float:left;margin-bottom:25px;max-height:400px;position:relative;}
.cart-items .cart-item{width:100%;float:left;margin-bottom:25px;}
.cart-items .cart-item .cart-item-image{float:left;width:250px;text-align:center;}
.cart-items .cart-item .cart-item-info{float:left;width:525px;}
.cart-items .cart-item .cart-item-info-title{font-size:22px;font-family:'Partner Condensed';color:#737373;float:left;width:100%;}
.cart-items .cart-item .cart-item-info-settings-prices{float:left;width:250px;margin-right:25px;padding-top:80px;}
.cart-items .cart-item .cart-item-info-settings-text{float:left;width:250px;}
.cart-items .cart-item .cart-item-info-settings-text-title{font-size:18px;font-family:'Partner Condensed';color:#699ec1;}
.cart-items .cart-item .cart-item-info-settings-text-desc{line-height:16px;}
.cart-items .cart-item .cart-item-label{width:120px;font-size:14px;display:inline-block;}
.cart-items .cart-item .cart-item-info-settings-prices-cost,
.cart-items .cart-item .cart-item-info-settings-prices-qty,
.cart-items .cart-item .cart-item-info-settings-prices-total{margin-bottom:5px;}
.cart-items .cart-item .cart-item-data{width:110px;white-space:nowrap;text-align:left;font-size:22px;font-family:'Partner Condensed';color:#699ec1;}
.cart-items .cart-item .cart-item-delete{background:url(../img/cart-delete.png) 0px 0px no-repeat;display:block;width:10px;height:10px;position:absolute;right:15px;}
.cart-items-wrapper{position:relative;max-height:400px;float:left;width:100%;border-bottom:1px solid #adadad;padding-bottom:20px;}
.cart-items-wrapper .cart-gradient{z-index:10;width:100%;position:absolute;bottom:20px;height:50px;background:-moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background:linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0);}
.cart-wrapper-total{width:100%;float:left;text-align:right;color:#737373;font-size:14px;margin-top:15px;margin-bottom:15px;}
.cart-wrapper-total .uc-price{color:#6da1c3;font-size:26px;font-family:'Partner Condensed';}
.cart-wrapper-total .uc-price span{font-size:14px;}
.cart-wrapper-checkout{width:100%;float:left;}
.cart-wrapper-checkout #cart-pane{display:none;}
.cart-wrapper-checkout .cart-wrapper-checkout-title{color:#699ec1;font-size:22px;font-family:'Partner Condensed';margin-bottom:10px;}
.cart-wrapper-checkout #payment-pane,
.cart-wrapper-checkout #customer-pane,
.cart-wrapper-checkout #delivery-pane{float:left;width:260px;margin-right:10px;}
.cart-wrapper-checkout #payment-pane{margin-right:0;}
.cart-wrapper-checkout #payment-pane .form-item,
.cart-wrapper-checkout #delivery-pane .form-item{margin:0;}
.cart-wrapper-checkout #customer-pane > div:last-child,
.cart-wrapper-checkout #comments-pane,
.cart-wrapper-checkout #customer-pane legend,
.cart-wrapper-checkout #payment-pane legend,
.cart-wrapper-checkout #payment-pane img,
.cart-wrapper-checkout #payment-pane .description,
.cart-wrapper-checkout #delivery-pane #edit-panes-delivery-delivery-last-name,
.cart-wrapper-checkout #delivery-pane #edit-panes-delivery-delivery-address-select-wrapper,
.cart-wrapper-checkout #delivery-pane label,
.cart-wrapper-checkout #delivery-pane img,
.cart-wrapper-checkout #delivery-pane .description,
.cart-wrapper-checkout #delivery-pane legend{display:none;}
body.not-logged-in #customer-pane #edit-panes-customer-primary-email-wrapper{display:block;}
body.not-logged-in #customer-pane #edit-panes-customer-primary-email-wrapper label{display:none;}
.cart-wrapper-checkout #customer-pane #edit-panes-customer-primary-email{margin-top:10px;}
.cart-wrapper-checkout #delivery-pane #edit-panes-delivery-delivery-street1{margin:10px 0;}
.cart-wrapper-checkout #delivery-pane select{border:1px solid #e2e8ec;background:#FFF;padding:10px 10px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.cart-wrapper-checkout #payment-pane label{font-weight:normal;}
.cart-wrapper-checkout #payment-pane label span{display:none;}
.cart-wrapper-checkout #payment-pane .form-radios .form-item{padding-bottom:8px;}
.cart-wrapper-checkout #payment-pane .form-radios .form-item input{margin:0;position:relative;top:2px}
.cart-wrapper-checkout #uc-cart-checkout-form #edit-continue{position:absolute;right:-15px;bottom:0;width:260px;background:#298bcc;}
.cart-wrapper-checkout #uc-cart-checkout-form #edit-continue:hover{background:#319ce1;}
.cart-wrapper-checkout #uc-cart-checkout-form #edit-cancel{position:absolute;right:280px;bottom:5px;color:#699ec1;border:none;border-bottom:1px dashed #699ec1;background:transparent;padding:0;}
body.page-cart .content-inner{margin:30px 0;float:left;width:100%;text-align:center;line-height:22px;}
body.page-cart .content-inner #cart-form-pane,
body.page-cart .content-inner span{font-family:'Partner Condensed', Arial !important;color:#298bcc;font-size:32px;}
body.page-cart .content-inner #cart-form-pane{text-align:center;}
body.page-cart .content-inner .checkout-complete-buttons{text-align:center;margin:10px 0;}
body.page-cart .content-inner .checkout-complete-buttons a{background:#66abd8;display:inline-block;font-family:'Partner Condensed';font-size:18px;padding:7px 10px 5px 10px;color:#FFF;border:none;cursor:pointer;margin:8px;}
body.page-cart .easy-breadcrumb .easy-breadcrumb_segment-separator,
body.page-cart .easy-breadcrumb .easy-breadcrumb_segment-wrapper{display:none;}
body.page-cart .easy-breadcrumb .easy-breadcrumb_segment-wrapper:first-child{display:inline-block;}
.faq-content{margin:40px 0;}
.faq-answer{padding-left:20px;margin-bottom:20px;line-height:16px;}
.faq-question{padding-top:0px;padding-left:0px;margin-bottom:8px;display:block;line-height:18px;}
.faq-question a{font-size:16px;color:#298bcc;}
.page-rent-inner{float:left;width:100%;line-height:16px;margin-bottom:40px;}
.page-rent-inner h2,
.page-rent-inner h3{font-family:'Partner Condensed', Arial !important;color:#298bcc;}
.page-rent-inner h2{font-size:28px;line-height:38px;text-align:center;}
.page-rent-inner h3{font-size:18px;line-height:32px;color:#737373;}
.page-rent-inner ul{margin-bottom:15px;}
.page-rent-inner ul li{margin-left:10px;background:url(../img/bullet.png) 0px 6px no-repeat;padding-left:15px;list-style:none;}
.view-arenda .views-row{float:left;width:100%;line-height:16px;margin-bottom:20px;}
.view-arenda .views-row .rent-title{font-size:18px;line-height:22px;font-family:'Partner Condensed', Arial !important;color:#298bcc;}
.view-arenda .views-row .rent-box{float:left;width:100%;}
.view-arenda .views-row .rent-box-left{float:left;}
.view-arenda .views-row .rent-box-right{float:left;}
.view-arenda .views-row .order-row a{background:#66abd8;display:inline-block;font-family:'Partner Condensed';font-size:18px;padding:7px 10px 5px 10px;color:#FFF;border:none;cursor:pointer;margin:8px;}
.view-arenda .views-row .order-row .rent-price{color:#6da1c3;font-size:26px;font-family:'Partner Condensed';display:inline-block;position:relative;top:5px;}
.buy_form{height:277px;position:relative;}
.buy_form h2{font-size:28px;line-height:38px;text-align:center;font-family:'Partner Condensed', Arial !important;color:#298bcc;}
.buy_form .form-submit{position:absolute;right:-15px;width:180px;}
#webform-client-form-128{width:970px;height:500px;position:relative;margin-top:80px;float:left;display:block;background:#EEE;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > label{position:absolute;width:970px;text-align:center;font-size:18px;line-height:80px;font-family:'Partner Condensed', Arial !important;color:#737373;top:-80px;font-weight:normal;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios{width:970px;height:500px;position:relative;margin:0;overflow:hidden;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios .form-radio{display:none;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios label{position:absolute;top:86px;text-align:center;left:-86px;display:block;background:rgba(0, 0, 0, 0.62);padding:20px 0;width:230px;color:#FFF;font-size:18px;font-family:'Partner Condensed', Arial !important;cursor:pointer;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios #edit-submitted-ukazhite-oblast-primeneniya-osushitelya-2-wrapper label{padding:11px 0;}
#webform-client-form-128 .form-item,
#webform-client-form-128 .webform-component{margin:0;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios .form-item{width:100px;float:right;height:500px;position:relative;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios .form-item.calculator-active-tab{width:570px;height:500px;float:left;position:absolute;left:0;top:0;}
#webform-client-form-128 .form-actions .form-submit{position:absolute;bottom:0;z-index:10;left:434px;padding:14px 40px 11px 40px;}
#webform-client-form-128 label{font-weight:normal;}
#webform-client-form-128 .form-textarea,
#webform-client-form-128 .form-text{border:1px solid #e2e8ec;padding:7px 7px;width:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios #edit-submitted-ukazhite-oblast-primeneniya-osushitelya-1-wrapper{background:url(../img/stepbg-1.jpg) 0px 0px no-repeat;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios #edit-submitted-ukazhite-oblast-primeneniya-osushitelya-2-wrapper{background:url(../img/stepbg-2.jpg) 0px 0px no-repeat;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios #edit-submitted-ukazhite-oblast-primeneniya-osushitelya-3-wrapper{background:url(../img/stepbg-3.jpg) 0px 0px no-repeat;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios #edit-submitted-ukazhite-oblast-primeneniya-osushitelya-4-wrapper{background:url(../img/stepbg-4.jpg) 0px 0px no-repeat;}
#webform-component-ukazhite-oblast-primeneniya-osushitelya > .form-item > .form-radios #edit-submitted-ukazhite-oblast-primeneniya-osushitelya-5-wrapper{background:url(../img/stepbg-5.jpg) 0px 0px no-repeat;}
#webform-component-ukazhite-obem-pomeshcheniya{background:rgba(0, 0, 0, 0.62);position:absolute;bottom:0;left:0;width:570px;color:#FFF;padding:30px 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#webform-component-ukazhite-obem-pomeshcheniya legend{position:relative;top:25px;}
#webform-component-ukazhite-obem-pomeshcheniya .form-item{margin:5px 0;display:block;}
#webform-component-ukazhite-obem-pomeshcheniya .form-item label{width:140px;display:inline-block;margin:0;}
#webform-component-libo-vyberite-drevesinu-1,
#webform-component-ukazhite-plotnost-drevesiny,
#webform-component-ukazhite-obem-osushaemoy-drevesiny{background:rgba(0, 0, 0, 0.62);position:absolute;left:0;width:570px;color:#FFF;padding:5px 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#webform-component-libo-vyberite-drevesinu-1{bottom:0;padding-bottom:16px;}
#webform-component-ukazhite-plotnost-drevesiny{bottom:54px;}
#webform-component-ukazhite-obem-osushaemoy-drevesiny{bottom:95px;padding-top:20px;}
#webform-component-libo-vyberite-drevesinu-1 label,
#webform-component-ukazhite-plotnost-drevesiny label,
#webform-component-ukazhite-obem-osushaemoy-drevesiny label{width:240px;display:inline-block;margin:0;}
#webform-component-libo-vyberite-drevesinu-1 select{padding:7px 7px;}
#webform-component-ukazhite-razmery-vashego-basseyna,
#webform-component-ukazhite-tip-basseyna,
#webform-component-ukazhite-temperaturu-vody-v-basseyne,
#webform-component-ukazhite-kolichestvo-lyudey-v-basseyne{background:rgba(0, 0, 0, 0.62);position:absolute;left:0;width:570px;color:#FFF;padding:5px 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#webform-component-ukazhite-kolichestvo-lyudey-v-basseyne{bottom:0;padding-bottom:16px;}
#webform-component-ukazhite-temperaturu-vody-v-basseyne{bottom:52px;}
#webform-component-ukazhite-tip-basseyna{bottom:204px;padding-bottom:0;width:471px;left:100px;}
#webform-component-ukazhite-razmery-vashego-basseyna{bottom:93px;padding-bottom:0;padding-top:20px;}
#webform-component-ukazhite-razmery-vashego-basseyna legend{position:relative;top:16px;}
#webform-component-ukazhite-temperaturu-vody-v-basseyne label,
#webform-component-ukazhite-kolichestvo-lyudey-v-basseyne label,
#webform-component-ukazhite-razmery-vashego-basseyna label{width:232px;display:inline-block;margin:0;}
#webform-component-ukazhite-razmery-vashego-basseyna .form-item{margin:5px 0;display:block;}
#edit-submitted-ukazhite-razmery-vashego-basseyna-razmery-zerkala-vody-m-wrapper{margin-bottom:10px !important;}
.calculator-search{margin:30px 0;}
.calculator-search h2{font-family:'Partner Condensed', Arial !important;color:#298bcc;margin-bottom:15px;text-align:center;font-size:32px;}
.calculator-search h3{font-family:'Partner Condensed', Arial !important;margin-bottom:25px;text-align:center;font-size:22px;}
.calculator-search-empty p{text-align:center;font-size:16px;}
.inner-blocks-notfound{width:100%;float:left;padding:30px 0;font-size:16px;text-align:center;}
.inner-blocks-notfound h1{letter-spacing:5px;font-size:38px;line-height:58px;text-align:center;font-family:'Partner Condensed', Arial !important;color:#298bcc;}
.not-found-block{position:relative;width:100%;float:left;padding:30px 0;text-align:left;height:470px;background:url(../img/not-found.png) 100% 0px no-repeat;}
.not-found-block.actived{background:url(../img/not-found-active.png) 100% 0px no-repeat;}
.not-found-block b{font-weight:bold;}
.not-found-block .not-found-block-item{margin:20px 0;display:inline-block;width:100%;vertical-align:top;}
.not-found-block .not-found-block-item span{display:inline-block;}
.not-found-block a{color:#298bcc;text-decoration:underline;display:inline-block;vertical-align:top;}
.not-found-block-inner{position:relative;top:30px;}
.search-wrapper{position:fixed;top:138px;width:400px;padding:0;margin:0;background:#FFF;z-index:999;display:none;-webkit-box-shadow:0px 4px 21px -4px rgba(0,0,0,0.75);-moz-box-shadow:0px 4px 21px -4px rgba(0,0,0,0.75);box-shadow:0px 4px 21px -4px rgba(0,0,0,0.75);}
.search-wrapper .empty-message{text-align:center;padding:10px;}
.search-wrapper:before{margin-left:280px;position:absolute;margin-top:-8px;content:' ';width:0;height:0;border-style:solid;border-width:0 5px 8px 5px;border-color:transparent transparent #ffffff transparent;}
.search-wrapper.search-fixed:before{margin-left:328px;}
.search-wrapper #edit-keywords{border:none;width:384px;padding:8px;border-bottom:2px solid #298bcc;}
.search-wrapper .tt-dropdown-menu{position:relative !important;top:0 !important;width:400px !important;}
.search-wrapper .tt-dropdown-menu .tt-suggestion{padding:3px 0;cursor:pointer;border-bottom:1px solid #e6e7e4;}
.search-wrapper .tt-dropdown-menu .tt-suggestion a{text-decoration:none;display:block;line-height:32px;}
.search-wrapper .tt-dropdown-menu .tt-suggestion a span{float:right;padding-right:8px;}
.search-wrapper .tt-dropdown-menu .tt-suggestion a img{float:left;padding-right:8px;}
.search-wrapper .tt-dropdown-menu .tt-suggestion.tt-cursor{color:#fff;background-color:#3b8fd9;}
.search-wrapper .tt-dropdown-menu .tt-suggestion.tt-cursor a{color:#fff;}
.search-wrapper .tt-dropdown-menu .tt-suggestion p{margin:0;}
.search-wrapper .typeahead-more-results{text-align:center;padding:8px 0;}
.search-wrapper .typeahead-more-results a{color:#298bcc;}
#callbackcontent{text-align:center;}
#callbackcontent label{display:none;}
#block-block-6 p{font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:15px;text-align:center;font-size:22px;}
.category-title{font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:15px;text-align:center;font-size:22px;}
body.page-search .tabs.primary{display:none;}
body.page-search .content-inner #search-form{position:relative;float:left;width:100%;}
body.page-search .content-inner #search-form .search-advanced,
body.page-search .content-inner #search-form label{display:none;}
body.page-search .content-inner #search-form .form-submit{position:absolute;right:0;top:12px;}
body.page-search .content-inner .box > h2{font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:15px;text-align:center;font-size:22px;}
dl.search-results dt{font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:5px;font-size:16px;}
dl.search-results dt a{color:#298bcc;}
dl.search-results .search-snippet{line-height:18px;}
dl.search-results .search-snippet strong{font-weight:bold;}
dl.search-results .search-info{line-height:32px;}
p.empty-results{font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:15px;text-align:center;font-size:22px;padding:0 30px;}
.messages.error{float:left;width:98%;margin:20px 0;border:none;color:#FFF;background:rgba(210, 74, 67, 0.63);text-align:center;padding:1%;}
#virdini-ask-application-form label{display:none;}
#node-123,
#node-303,
#node-124{text-align:center;}
#node-123 h1,
#node-303 h1,
#node-124 h1{font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:15px;text-align:center;font-size:32px;padding:0 30px;}
#node-123 .node-text .h2,
#node-303 .node-text .h2,
#node-124 .node-text .h2{font-size:20px !important;margin:30px 0;}
.calc-title{text-align:center;font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:15px;text-align:center;font-size:24px !important;padding:0 30px;position:relative;top:30px;}
.view-call-manager{float:left;width:100%;text-align:center;margin:20px 0;}
.view-call-manager p{text-align:center;font-family:'Partner Condensed', Arial;color:#298bcc;margin-bottom:15px;text-align:center;font-size:18px;padding:0 30px;line-height:22px;}
#virdini-manager-application-form{margin-bottom:30px;}
#virdini-manager-application-form label{margin-bottom:5px;}
#virdini-manager-application-form select{padding:5px;}
#virdini-manager-application-form #edit-mounts-wrapper,
#virdini-manager-application-form #edit-date-wrapper,
#virdini-manager-application-form #edit-time-wrapper{float:left;margin-right:8px;}
#virdini-manager-application-form #edit-comment-wrapper{clear:both;}
.cbh-ph-circle, .cbh-ph-circle1, .cbh-ph-circle2{background-color:transparent;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:3px solid #699DC2;position:absolute;}
.cbh-hover .cbh-ph-circle, .cbh-hover .cbh-ph-circle1, .cbh-hover .cbh-ph-circle2{display:none;}
.cbh-static .cbh-ph-circle, .cbh-static .cbh-ph-circle1, .cbh-static .cbh-ph-circle2{display:block;box-sizing:content-box !important;}
.cbh-ph-circle{width:90px;height:90px;top:55px;left:54px;-webkit-animation:cbh-circle-anim 1.7s infinite ease-in-out;-moz-animation:cbh-circle-anim 1.7s infinite ease-in-out;-ms-animation:cbh-circle-anim 1.7s infinite ease-in-out;-o-animation:cbh-circle-anim 1.7s infinite ease-in-out;animation:cbh-circle-anim 1.7s infinite ease-in-out;}
.cbh-ph-circle1{width:120px;height:120px;top:40px;left:39px;-webkit-animation:cbh-circle-anim1 1.7s infinite ease-in-out;-moz-animation:cbh-circle-anim1 1.7s infinite ease-in-out;-ms-animation:cbh-circle-anim1 1.7s infinite ease-in-out;-o-animation:cbh-circle-anim1 1.7s infinite ease-in-out;animation:cbh-circle-anim1 1.7s infinite ease-in-out;}
.cbh-ph-circle2{width:150px;height:150px;top:25px;left:24px;-webkit-animation:cbh-circle-anim2 1.7s infinite ease-in-out;-moz-animation:cbh-circle-anim2 1.7s infinite ease-in-out;-ms-animation:cbh-circle-anim2 1.7s infinite ease-in-out;-o-animation:cbh-circle-anim2 1.7s infinite ease-in-out;animation:cbh-circle-anim2 1.7s infinite ease-in-out;}
.cbh-ph-circle-fill{width:99px;height:99px;top:12px;left:10px;background:url(../images/call-bt/circle.png) no-repeat;position:absolute;display:none;}
.cbh-phone.cbh-green .cbh-ph-circle-fill{display:block;-webkit-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;-moz-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;-ms-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;-o-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;}
.cbh-ph-img-circle{width:65px;height:65px;top:29px;left:27px;position:absolute;background:url(../images/call-bt/phone.png) no-repeat;background-position:center center;background-repeat:no-repeat;}
.cbh-phone.cbh-hover .cbh-ph-img-circle{-webkit-animation:cbh-circle-img-anim 1s infinite ease-in-out;-moz-animation:cbh-circle-img-anim 1s infinite ease-in-out;-ms-animation:cbh-circle-img-anim 1s infinite ease-in-out;-o-animation:cbh-circle-img-anim 1s infinite ease-in-out;animation:cbh-circle-img-anim 1s infinite ease-in-out;background:url(../images/call-bt/phone.png) no-repeat;}
.callBack_modal button.callBack-btn-whait{background-:linear-gradient(#4FDE54, #2DDE33 60%, #1CDE23);border:1px solid #17CC1D;border-color:#2DDE33;background-color:#2DDE33;}
.callBack_modal button.callBack-btn-whait:hover,
.callBack_modal button.callBack-btn-whait:focus{background-color:#19D51F;border-color:#16C21C;}
.callBack_modal b,
.callBack_modal h4,
.callBack_modal input,
.callBack_modal button{display:block;}
.callBack_modal b{width:88%;line-height:30px;font-size:21px;font-family:arial,sans-serif;color:#555;text-shadow:0px 1px 0px #FFF;opacity:0.7;margin:0px;padding-left:30px;padding-top:30px;}
.callBack_modal h4{line-height:inherit;font-size:16px;font-family:arial,sans-serif;font-weight:bold;color:#111;text-shadow:0px 1px 0px #FFF;margin:0px;margin-left:30px;margin-top:30px;padding:0px;}
.callBack_modal .form-text{background-color:#FFF;background-image:none;border:1px solid #CCC;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;color:#555;display:inline-block;transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;border-radius:3px;font-size:12px;height:15px;width:250px;line-height:18px;padding:5px 10px;font-family:arial,sans-serif;margin-left:0;box-sizing:content-box;outline:none;}
#callback_modal_form{position:relative;}
.callBack_modal button.callBack-btn-whait{background-:linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);border:1px solid #178acc;text-shadow:0 1px 0 rgba(0, 0, 0, 0.1);border-color:#2fa4e7;background-color:#2fa4e7;background-image:none;color:#ffffff;display:inline-block;box-shadow:none;}
.callBack_modal button.callBack-btn-whait:hover,
.callBack_modal button.callBack-btn-whait:focus{color:#fff;background-color:#1990d5;border-color:#1684c2;}
.callBack_modal button.callBack-btn-whait,
.callBack_modal .callBack_modal-footer button.callBack-btn-close{-moz-user-select:none;cursor:pointer;font-weight:normal;text-align:center;white-space:nowrap;border-radius:3px;font-size:12px;height:30px;line-height:1.5;padding:5px 10px;filter:none;background-repeat:no-repeat;font-family:arial,sans-serif;text-transform:none;}
.callBack_modal .callBack_modal-footer button.callBack-btn-close{background-image:linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);border:1px solid #e6e6e6;position:absolute;bottom:40px;right:40px;text-shadow:0 1px 0 rgba(0, 0, 0, 0.1);background-color:#ffffff;color:#555555;box-sizing:border-box;display:table;clear:both;}
.callBack_modal .callBack_modal-footer{position:absolute;bottom:0px;width:100%;height:90px;border-top:1px solid #e5e5e5;margin-left:0px;}
.callBack_modal .form-submit{background:url(../images/call.png) 0 0 no-repeat;width:123px;height:26px;display:block;font-size:13px;color:#FFF;padding:0;cursor:pointer;text-shadow:1px 1px 2px #2F68B1;border:none;outline:none;position:absolute;top:16px;left:282px;}
.callBack_modal .form-submit:hover{background-position:0 -26px;}
.callBack_modal .callBack_modal-footer button.callBack-btn-close:hover,
.callBack_modal .callBack_modal-footer button.callBack-btn-close:focus{color:#555555;background-color:#ebebeb;border-color:rgba(0, 0, 0, 0.1);}
.callBack_modal .callBack-close{top:7px;right:12px;font-size:21px;font-weight:bold;line-height:1;color:#000;text-shadow:0px 1px 0px #FFF;opacity:0.2;padding:0;cursor:pointer;background:rgba(0, 0, 0, 0);border:0;-webkit-appearance:none;position:absolute;outline:none;}
.callBack_modal .callBack-close:hover,
.callBack_modal .callBack-close:focus{color:#000000;text-decoration:none;cursor:pointer;opacity:0.5;filter:alpha(opacity=50);}
.callBack_modal, .callBack_modal-backdrop{position:fixed;}
.callBack_modal{height:100px;width:402px;padding:20px 36px;background-color:#FFFFFF;z-index:9999;border:3px #CCCCCC solid;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transition:opacity .5s, top .5s;-moz-transition:opacity .5s, top .5s;-ms-transition:opacity .5s, top .5s;-o-transition:opacity .5s, top .5s;transition:opacity .5s, top .5s;display:none;left:50%;top:50%;}
.callBack_modal-backdrop{display:none;background-color:rgba(0, 0, 0, 0.7);bottom:0;cursor:default;left:0;right:0;top:0;z-index:8888;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-ms-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s;}
.cbh-phone{position:fixed;background-color:rgba(0, 0, 0, 0);width:120px;height:120px;cursor:pointer;z-index:200000!important;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0);-webkit-transition:visibility .5s;-moz-transition:visibility .5s;-o-transition:visibility .5s;transition:visibility .5s;right:22px;bottom:30px;}
.cbh-phone.cbh-show{visibility:visible}
@-moz-keyframes cbh-circle-anim{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
50%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-webkit-keyframes cbh-circle-anim{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
50%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-ms-keyframes cbh-circle-anim{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
50%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-moz-keyframes cbh-circle-anim1{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
50%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-webkit-keyframes cbh-circle-anim1{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
50%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-ms-keyframes cbh-circle-anim1{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
50%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-moz-keyframes cbh-circle-anim2{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
50%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-webkit-keyframes cbh-circle-anim2{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
50%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-ms-keyframes cbh-circle-anim2{0%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
25%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
50%{opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;}
75%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
100%{opacity:1;-moz-opacity:1;-webkit-opacity:1;-o-opacity:1;}
}
@-moz-keyframes cbh-circle-fill-anim{0%{-moz-transform:scale(0.7);}
50%{-moz-transform:scale(1);}
100%{-moz-transform:scale(0.7);}
}
@-webkit-keyframes cbh-circle-fill-anim{0%{-webkit-transform:scale(0.7);}
50%{-webkit-transform:scale(1);}
100%{-webkit-transform:scale(0.7);}
}
@-o-keyframes cbh-circle-fill-anim{0%{-o-transform:scale(0.7);}
50%{-o-transform:scale(1));}
100%{-o-transform:scale(0.7);}
}
@keyframes cbh-circle-fill-anim{0%{transform:scale(0.7);}
50%{transform:scale(1);}
100%{transform:scale(0.7);}
}
@keyframes cbh-circle-img-anim{0%{transform:rotate(0deg)}
10%{transform:rotate(-25deg)}
20%{transform:rotate(25deg)}
30%{transform:rotate(-25deg)}
40%{transform:rotate(25deg)}
50%{transform:rotate(0deg)}
100%{transform:rotate(0deg)}
}
@-moz-keyframes cbh-circle-img-anim{0%{-moz-transform:rotate(0deg)}
10%{-moz-transform:rotate(-25deg)}
20%{-moz-transform:rotate(25deg)}
30%{-moz-transform:rotate(-25deg)}
40%{-moz-transform:rotate(25deg)}
50%{-moz-transform:rotate(0deg)}
100%{-moz-transform:rotate(0deg)}
}
@-webkit-keyframes cbh-circle-img-anim{0%{-webkit-transform:rotate(0deg)}
10%{-webkit-transform:rotate(-25deg)}
20%{-webkit-transform:rotate(25deg)}
30%{-webkit-transform:rotate(-25deg)}
40%{-webkit-transform:rotate(25deg)}
50%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(0deg)}
}
@-o-keyframes cbh-circle-img-anim{0%{-o-transform:rotate(0deg)}
10%{-o-transform:rotate(-25deg)}
20%{-o-transform:rotate(25deg)}
30%{-o-transform:rotate(-25deg)}
40%{-o-transform:rotate(25deg)}
50%{-o-transform:rotate(0deg)}
100%{-o-transform:rotate(0deg)}
}
@-ms-keyframes cbh-circle-img-anim{0%{-ms-transform:rotate(0deg)}
10%{-ms-transform:rotate(-25deg)}
20%{-ms-transform:rotate(25deg)}
30%{-ms-transform:rotate(-25deg)}
40%{-ms-transform:rotate(25deg)}
50%{-ms-transform:rotate(0deg)}
100%{-ms-transform:rotate(0deg)}
}
.upbg #edit-phone{width:130px;}
.upbg .form-submit{background:url(/sites/all/themes/osushitel/images/call.png) 0 0 no-repeat;width:125px;height:26px;display:block;margin:12px 0px 0 0;font-size:13px;color:#FFF;cursor:pointer;text-shadow:1px 1px 2px #2F68B1;outline:none;border:none;cursor:pointer;}
.social-share-googleplus{display:block;background-image:url(/sites/all/themes/osushitel/img/social.png);width:20px;height:20px;float:left;background-repeat:no-repeat;background-position-x:-125px;color:transparent;margin:1px;}
.social-share-facebook{display:block;background-image:url(/sites/all/themes/osushitel/img/social.png);width:20px;height:20px;float:left;background-repeat:no-repeat;background-position-x:0px;color:transparent;margin:1px;}
.social{display:inline-block;clear:both;}