#slide {
	width: 705px;
	position:relative; 
	overflow:  hidden; 
	z-index:1; 
	margin:0 auto;
	margin-top: 49px;
	margin-bottom: 20px;
	}
.slider {position: relative; 
	z-index:1;
	width: 705px; 
	height: 300px; 
	overflow:  visible !important; /*top:50px; left:82px;*/
	box-shadow: 0 5px 9px rgba(0,0,0,0.39);}

.banner{
	width: 320px;
	position: absolute;
	top: 0px;
	z-index: 15;
	left: 385px !important;
	background: url(../images/temp/bg-banne.png) 0 0 repeat;
	overflow: hidden;
	height: 301px;
	opacity: 0.9;
		}
.text-banner{
	float:left;
	width:285px;
	margin-top: 27px;
	}
.inner-banner{
	padding:5px 0 0 20px;
	}
.banner .text-banner p {
	color: #fff;
}
.banner span h1{
	text-transform: uppercase;
	font-size: 22px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 33px;
	font-family: 'ubuntu_condensedregular';
	color: white;
	display: block;
	line-height: 25px;
	}
.banner p {
	font-size: 15px;
}
.banner span+span{
	font-size:26px;
	line-height:30px;
	color:#fff;
	margin-top:5px;
	}	
.banner p{margin:3px 0 0 0;}
.banner a{
	font-size: 13px;
	line-height: 20px;
	padding: 7px 20px;
	color: white;
	float: right;
	margin: 50px 20px 0 0;
	display: inline-block;
	text-decoration: underline;
	}
.banner a:hover{
	text-shadow: 0px 0px 1px #fff;}

.pagination {
	position: absolute;
	bottom: 0px;
	z-index: 1000;
	padding: 0;
	right: 13px;
	height: 30px;
	opacity: 1;
	}
.pagination li {	
	list-style: none;
	float: left;
	}
.pagination a {
	display: block;
	width: 21px;
	height: 21px;
	background-color: #6E9AB5;
	margin-left: 9px;
	color: #FFF;
	text-align: center;
	font-weight: 800;
	font-size: 14px;
	line-height: 23px;
	}
.pagination li.current a, .pagination li:hover a{background-color: #bfd7e1;}

.banner {
	display: none !important;
}