.nice-menu, .nice-menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
.nice-menu {
        width: 960px;
        height: 42px;
        background: url(../images/menu-bg.png) 0 0 no-repeat;
}

.nice-menu:before,
.nice-menu:after {
        content: "";
        display: table;
}

.nice-menu:after {
        clear: both;
}

.nice-menu {
        zoom:1;
}

.nice-menu li {
        float: left;
        position: relative;
        height: 40px;
}
.nice-menu li a {
             height: 40px;
             border: 0;
}
.nice-menu li>ul>li {
                height: 13px;
}

.nice-menu a {
                float: left;
                font-size: 13px;
                padding: 13px 7px 0 14px;
                color: white;
                text-transform: uppercase;
               /* padding: 14px 11px 0 19px;
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                text-decoration: none;
                font-family: ubuntu-c;*/
               font-family: 'ubuntu_condensedregular';
               border: 0;
}
.nice-menu li.menu-278 {
                padding-bottom: 13px;
}
.nice-menu li:hover > a, .nice-menu li > a.active {
        color: #000;
}

*html .nice-menu li a:hover, *html .nice-menu li a.active {
        color: #000;
}

.nice-menu ul {
                behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
        margin: 20px 0 0 0;
        _margin: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 34px;
        color: #000;
        left: 0;
        z-index: 9999;    
        background: #fff;
        -moz-box-shadow: 0 -1px rgba(255,255,255,.3);
        -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
        box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        box-shadow: 0px 0px 26px -5px;
        width: 186px;
        min-height: 78px;
                max-height: 164px;
}

.nice-menu li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;
        behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}

.nice-menu ul ul {
        top: 0px;
        left: 150px;
        margin: 0 0 0 20px;
        _margin: 0; /*Только для IE6*/
        -moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
        -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
        box-shadow: -1px 0 0 rgba(255,255,255,.3);
        color: #000;
        behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
        
}

.nice-menu ul li {
                float: none;
                display: block;
                border: 0;
                line-height: 0;
                padding: 5px 8px;
                cursor: pointer;
                list-style-type: none;
                background: url(../images/mark.png) 10px 12px no-repeat;
}

.nice-menu ul li:last-child {   
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;    
}

.nice-menu ul a {    
        padding: 10px;
        width: 130px;
        _height: 10px; /*Только для IE6*/
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
        color: #699DC2;
        font-size: 15px;
}

.nice-menu ul a:hover {
        color: #000;
}

.nice-menu ul li:first-child > a {
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}

.nice-menu ul li:first-child > a:after {
        content: '';
        position: absolute;
        left: 30px;
        top: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
}

.nice-menu ul ul li:first-child a:after {
        left: -6px;
        top: 50%;
        margin-top: -6px;
        border-left: 0;	
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        border-right: 6px solid #3b3b3b;
}

.nice-menu ul li:first-child a:hover:after {
        border-bottom-color: #fff; 
}

.nice-menu ul ul li:first-child a:hover:after {
        border-right-color: #fff; 
        border-bottom-color: transparent; 	
}

menu ul li:last-child > a {
        -moz-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        behavior: url(/sites/all/themes/osushitel/css/pie/PIE.htc);
}